[2018-07-13 09:36] rlambrec opened #8 "raise OperationNotSupportedException from e"
Hi I am getting the following error:
[code]

I am using the following yml file:
[code]

[2018-07-13 11:22] mukultaneja commented on #8
you are missing the `org` parameter in the above configuration. To create a new org you should,

1.  have the admin access on VCD.
2. have to authenticate yourself with your respective org.

You also should update the Python version. The latest Pyvcloud uses Python 3.

[2018-07-13 13:14] rlambrec commented on #8
I have access to the vCD, I am logged in to a fresh (and empty) provisioned 9.1 vCD with the administrator account. What organization does this account belongs to? As it is a local account.

[2018-07-13 18:51] mukultaneja commented on #8
By default, it should take SYSTEM but you can confirm through login into the administrator account.

[2018-08-07 20:42] MartinEtcheverry opened #9 "ansible-module-vcloud-director/roles/catalogs/tasks/main.yml has hardcoded values"
ansible-module-vcloud-director/roles/catalogs/tasks/main.yml

# Copyright © 2018 VMware, Inc. All Rights Reserved.
# SPDX-License-Identifier: BSD-2-Clause

---
#tasks file for roles/catalogs

#################################### Create ##########################################################################
- name: create catalog
  vcd_catalog:
    user: 'acmeadmin'
    org: 'acme'
    password:

[2018-08-11 18:37] mukultaneja commented on #9
Hi Martin,

Thanks for raising the concern. I have removed the hard-coded user/org/password/host from the playbooks. These playbooks we ran against our systems to test the modules. I would suggest you change them as per your setup!

[2018-08-13 07:02] urajio opened #10 "How to create Org VDC Networks?"
How to create Org VDC Networks?

[2018-08-14 07:27] mukultaneja commented on #10
Hi @urajio
We are currently working on the networking modules. I will keep you posted once the development will be done!

[2018-08-14 14:43] rackergs commented on #10
Any chance you could do this in a public branch? The network piece is a pending automation item for us and if we could test/contribute I'd like to

[2018-08-16 14:50] MartinEtcheverry opened #11 "problem creating a vapp"
running this playbook
`name: vCloudDirectorAnsible
  hosts: localhost
  environment:
    env_user: ansible_test       ## default user details for entire execution enviornment. Modules will use
    env_password: Password   ## these default values in case no module level user details are provided.
    env_host: vcloud_Server_ip
    env_org: Prueba-001
    env_api_version: 29.0
    env_verify_ssl_cer

[2018-08-20 17:55] MartinEtcheverry commented on #11
i think is earlier : line 45, in login\n File "/home/martin/.local/lib/python3.6/site-packages/pyvcloud/vcd/client.py", line 724, in set_credentials\n raise VcdException('Login failed.')\npyvcloud.vcd.exceptions.VcdException: Login failed.

[2018-08-28 06:32] urajio opened #12 "Guest customization not enabled"
"Enable Guest Customization" option disabled for new VM created from template.

[2018-08-28 17:36] mukultaneja commented on #11
Hi Martin,

Thanks for raising the concern.  I have added a new patch to resolve the issue. Please pull the latest code and try with the latest configuration,

https://github.com/vmware/ansible-module-vcloud-director/blob/master/docs/index.md#create-vapp

[2018-08-28 17:52] mukultaneja commented on #12
@urajio Thanks for reaching out! It would be helpful if you elaborate the use case more.

[2018-08-29 12:18] pasikarkkainen commented on #12
Guest Customization is required to (re)configure the new provisioned VM settings, such as hostname, apply new network/IP settings, set root/admin password, and configure the guest customization script (which is important for setting up ssh authorized keys, etc).

So Guest Customization is absolutely a required feature for any automatic VM provisioning.

[2018-08-30 05:42] urajio commented on #12
In our case it turned out that the reason is not in Ansible. Sorry, close this case.

[2018-08-30 05:42] #12 closed

[2018-08-30 18:50] mukultaneja commented on #11
Please share the VCD version you are using!

[2018-08-31 13:38] ivanmpk commented on #11
Hi MAC,

-VCD 8.0.2
-Python 3.6.5
-Ansible 2.5.2
-Pyvcloud 19.3

[2018-08-31 16:01] mukultaneja commented on #11
Hi @ivanmpk,

Thanks for sharing the information. I would like to tell you these Ansible modules are based on Pyvcloud and current Pyvcloud versions such as 27.0/28.0/29.0/30.0 support VCD versions 8.2/9/0/9.1 only. So you have to upgrade VCD version to use these modules.

[2018-09-29 07:46] #11 closed

[2018-10-02 19:22] rthomson opened #15 "Create VMs and assign a static IP"
Thanks for supporting ansible users with these provisioning modules, VMware!

I'm wondering how one would go about creating multiple VMs within a vApp, each assigned their own static IP address using this project?

The only module that appears to support setting a static/manual IP address is `vcd_vapp`. However, I can't seem to use this module multiple times targeting the same vApp with different/

[2018-10-08 18:29] mgaruccio opened #16 "Support for Container services extensions"
I would like to see the creation of a module that can perform basic CSE tasks like cluster creation, maintenance, and scaling.  I'm happy to take on creating the actual module(s) but want to make sure I'm not duplicating work someone else is already pursuing.  Any hints on getting started with development on this project are also greatly appreciated.

[2018-11-08 16:08] sgutermann opened #17 "Disk name in vcd_vapp_vm_disk can not be set"
The vcd_vapp_vm_disk module does use the disk_name parameter in the code but does not allow it to be set by the user through ansible.

With having multiple disks on a machine it gets a bit confusing when they are all called harddrive 0 harddrive 1 harddrive 2 etc.

[2018-11-08 16:11] sgutermann opened #18 "vcd_vapp_vm_disk - could not parse documentation"
ansible-doc -t module vcd_vapp_vm_disk
ERROR! module vcd_vapp_vm_disk missing documentation (or could not parse documentation): Incorrect value for 'Required', a boolean is needed.: [False]

[2018-11-13 16:43] carmineesposito73 commented on #15
any news on this enhancement? it would be very useful
thanks

[2018-11-14 08:30] sgutermann commented on #15
I second that. Would definately be usefull.

[2018-11-15 09:50] MichalTaratuta opened #19 "Expecting property name enclosed in double quotes -- vcd_org_vdc"
I'm getting this error for the `storage_profiles` param:

[code]

My task:
[code]

1. I have tried different syntax versions of `storage_profiles` and can't get this working.  What is the exact format for it, can you provide example rather then `List of provider vDC storage profiles to add to this vDC. Each item is a dictionary`.

2. `enabled` and `default` are those strings or booleans?

[2018-11-15 11:16] carmineesposito73 opened #20 "vcd_vapp_vm_nic cannot create vm nic with static ip address (manual or pool)"
DHCP is hard coded
[code]
I was able to change the behaviour to let POOL configuration (adding a parameter) but I wasn't able to use MANUAL mode (I tried with commented lines you can see but it didn't work)
[code]
the ansible file looks like this
[code]

[2018-11-15 13:01] carmineesposito73 commented on #20
i'm working with
[code]

[2018-11-16 10:45] MichalTaratuta commented on #19
I'm not sure why someone has chose to have a list as a string and then use json. I have simplified this step in PR: https://github.com/vmware/ansible-module-vcloud-director/pull/21

[2018-11-16 14:47] carmineesposito73 commented on #20
I've found the solution
[code]

[2018-11-16 14:52] carmineesposito73 commented on #20
I wasn't able to commit on a new branch this module, so here you are

[vcd_vapp_vm_nic.txt](https://github.com/vmware/ansible-module-vcloud-director/files/2589696/vcd_vapp_vm_nic.txt)

[2018-11-17 18:01] mukultaneja commented on #18
@sgutermann, thanks for raising an issue. I have added a patch. Please pull the latest code.

[2018-11-19 13:03] sgutermann commented on #18
Great. works. Thank you.

[2018-11-19 13:03] #18 closed

[2018-11-19 13:05] sgutermann commented on #17
Second thoughts on this: Would be nice to get that working with the name. So if at a later time I have to expand the drive I can just talk to that disk by name.

Currently this is only possible by disk_id which I don't see or get back anywhere currently.

[2018-11-20 17:47] carmineesposito73 opened #23 "vcd_vapp_vm does not use 'storage_profile' and 'deploy' parameters during vm creation"
vcd_vapp_vm does not use 'storage_profile' parameter, it always uses the vdc default storage profile.
vcd_vapp_vm does not use 'deploy' parameter, it always deploys the vm

[2018-11-21 08:30] sgutermann commented on #20
@mukultaneja maybe you can spend a few minutes adding this. That would save me some hardcoded curl commands in my playbook as unlike @carmineesposito73 I don't like messing with my modules.

[2018-11-21 11:42] MichalTaratuta commented on #19
@mukultaneja do you mind looking at this (both issue and PR), please? I would appreciate some input.

[2018-11-21 14:27] carmine73 opened #24 "vcd_vapp_network cannot create a natRouted vApp network with an own ip_scope"
vcd_vapp_network module cannot use 'ip_scope' and 'parent_network' at the same time, so a natRouted network cannot be created

[2018-11-21 14:31] carmineesposito73 opened #25 "vcd_vapp_network cannot configure dns on a vApp network"
vcd_vapp_network module does not have parameters to set vApp network dns1 and dns2

[2018-11-25 13:00] mukultaneja commented on #17
@sgutermann, as I have seen the disk name is always constant from VCD side itself which means it will always be in the form of Hard Disk {COUNT_OF_TOTAL_DISK}.

[2018-11-26 18:22] mukultaneja commented on #19
@MichalTaratuta the error is coming from the JSON module because you are using single quotes for property names where JSON module expects the property name's should be in double quotes

Thanks for the PR #21. It looks good but would be really helpful if you resolve the conflicts. Thanks for the patience!

[2018-11-26 18:30] mukultaneja commented on #19
@MichalTaratuta, by the way below is the reference for exact storage profile format. Hope it should work for you as well.
https://github.com/vmware/ansible-module-vcloud-director/blob/master/roles/vdc/tasks/main.yml#L15

[2018-11-26 18:34] mukultaneja commented on #17
@sgutermann, I have tried to add some workaround. Please take a look at below commit and let me know if it is useful.
https://github.com/vmware/ansible-module-vcloud-director/commit/2b8473fe30bf5f96fa6e15ceab0eb9a6edba1a7d

[2018-11-27 08:18] sgutermann commented on #17
@mukundaramanna thank you for checking. I looked at the code. Ok, so if the name can not be set by me I can live with that. The main Problem I was trying to resolve was that I had no clue on how to get the disk id read out via the module. Meaning if I want to expand the size of a particular disk later in time I had no way of knowing (other than reading the machine data via curl and the API directl

[2018-11-27 08:18] #17 closed

[2018-11-27 08:32] mukundaramanna commented on #17
@sgutermann I suppose your comment was meant for @mukultaneja

[2018-11-27 08:44] sgutermann commented on #23
Either this is resolved and can be closed or my vcloud director is behaving differently.

There are three storrage profiles defined at my site, labelled "Tier1" "Tier2" "Tier3".

During the creation I can tell it which to use and it works just fine.

[2018-11-27 09:15] carmineesposito73 commented on #23
I use vcloud 8.20 with 27.0 api, I've realized that with
[code]
only the default profile is selected, while with
[code]
the profile is selected.
Since the line ` spec = {k: v for k, v in spec.items() if v}` is used to eliminate empty values (if I understand well), and the `if storage_profile!='':` checks that the profile is not empty. the order can be changed.
I'm not an expert, it seems to me tha

[2018-11-27 14:07] carmineesposito73 commented on #23
I tried again, I confirm the issue.
I don't think it's important but my storage profile names contain white spaces (e.g. "SATA Storage Profile", "FC Storage Profile")

[2018-11-27 17:48] mukultaneja commented on #23
@carmineesposito73, can you please try once with updated Pyvcloud version?

[2018-11-27 19:12] carmineesposito73 commented on #23
@mukultaneja I'm using 20.0.1. Is it not the last released?
Anyway I can try tomorrow (my time zone is CET)

[2018-11-28 13:32] carmineesposito73 opened #26 "Support for Edge configuration"
Hi, is anyone working on a module to configure edges?
IMHO, nat and fw configuration would be the most important features.
thanks

[2018-11-28 13:53] mgaruccio commented on #16
@sgutermann Sorry I should have put the full name of the component into the body of the post in addition to the title.  I am referring to vmware's container service extension for VCD that @carmineesposito73 linked to above.

[2018-11-29 13:44] sgutermann commented on #26
I would second that. Currently testing with one network, but as soon as testing is over some automation on that part would be nice.

[2018-11-29 13:47] sgutermann commented on #23
I use vcloud 8.20 with 30.0 api. mine works and I do not have any white spaces in my names.

pyvcloud - Version: 20.0.1

[2018-11-29 18:42] mukultaneja commented on #23
@carmineesposito73 yeah you are correct for PyVcloud API versions but I am not able to reproduce your issue at my end. I have tried profile name with spaces and it is taking correct profile name for me.  There is no as such restriction on Storage Profile name as well [`blog`](https://blogs.vmware.com/vsphere/2013/02/using-storage-profiles-with-vcloud-director-2.html)

@sgutermann better to try wit

[2018-11-29 19:12] carmineesposito73 commented on #23
@mukultaneja if you change line order with `spec = {...} ` before the line that add storage profile, does it work?

The issue is double: can you create an undeployed vm?

[2018-11-29 19:41] mukultaneja commented on #23
@carmineesposito73, both are same. The order won't make difference here. Ultimately the spec loop will neglect keys if it does not have None/false value.
For another issue, I have made the appropriate change. I would request if you create a separate issue for it so that changes can be tracked.

[2018-11-29 21:38] carmineesposito73 commented on #23
I'll open a second issue and I'll try to add some logs to "my" issue on storage profiles

[2018-11-30 15:27] carmineesposito73 opened #27 "vcd_vapp_vm does not use 'deploy' parameters during vm creation"
vcd_vapp_vm does not use 'deploy' parameter, it always deploys the vm

[2018-11-30 15:31] carmineesposito73 commented on #23
@mukultaneja is there a string inside object spec['storage_profile'] I can print for debuggin purposes?

[2018-12-01 19:06] mukultaneja commented on #27
@carmineesposito73, I have committed an appropriate changes https://github.com/vmware/ansible-module-vcloud-director/commit/2ca6c1d95c91dc9c0b4764cb1ba6e9c0ce9f87e0. Please refer to it.

[2018-12-01 19:07] mukultaneja commented on #19
@MichalTaratuta, how about updating the PR #21?

[2018-12-01 19:13] mukultaneja commented on #23
@carmineesposito73, you can modify the module code and fill response['msg'] variable with spec['storage_profile']. Apart from this, you can use vCD API interface to verify as well.
So far, allow me to close this issue as I am not able to reproduce the bug. Feel free to open it again if you find more details.

[2018-12-01 19:13] #23 closed

[2018-12-06 18:07] mukultaneja commented on #20
@carmineesposito73 I have added support for Manual/Pool IP Address Allocation Modes in vApp VM Nic module. Please refer to commit https://github.com/vmware/ansible-module-vcloud-director/commit/9956b528b1abc489deab59bbae6338aee6fefcda

[2018-12-06 18:52] mukultaneja commented on #19
@MichalTaratuta, Please refer to https://github.com/vmware/ansible-module-vcloud-director/commit/5a5b205d472975829404a8ca113a7b7a0172b88d

[2018-12-06 18:52] #19 closed

[2018-12-06 18:53] #27 closed

[2018-12-07 08:19] carmineesposito73 commented on #20
@mukultaneja, here some notes:
1. you forgot to use `ip_allocation_mode` (line 201)
1. actually `if ip_allocation_mode in ('DHCP', 'POOL')` is not necessary since ip_address has an empy default value `ip_address=dict(type='str', required=False, default='')`, the API will ignore ip_address is DHCP or POOL allocation mode are used (at least on API 27.0)
1. I think it's useful having the chance to se

[2018-12-07 08:45] sgutermann commented on #26
The VPN SSL-Plus section would be nice as well. Adding users by Hand goes without words.

[2018-12-07 17:17] chechuironman opened #28 "error using vcd module"
Im getting continuously this error:

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr": "  File \"/var/folders/qy/lh_mfrzs7_nc1jbtcpl5gh600000gn/T/ansible_A03i4Y/ansible_module_vcd_vapp.py\", line 1\nSyntaxError: Non-ASCII character '\\xc2' in file /var/folders/qy/lh_mfrzs7_nc1jbtcpl5gh600000gn/T/ansible_A03i4Y/ansible_module_vcd_vapp.py on line 1, but no encoding d

[2018-12-09 11:45] mukultaneja commented on #28
@chechuironman, I think it is related to argument's value(s) which are passed to `vcd_vapp` module.

[2018-12-11 12:16] sgutermann commented on #20
@carmineesposito73 one question on the side. I added three networks to my VDC. Trying to add a second NIC using another network does not work at all for me (DHCP or anything). It looks like I need to add the Network first to the vapp then to the vm.

However adding it to the vapp I get told that the network I specifiy does not even exist (of course it does).

Do you have a bit more insight on this

[2018-12-11 12:50] carmineesposito73 commented on #20
@sgutermann, do you get the error adding the network to the vapp (with vcd_vapp_network) or connecting the nic?

[2018-12-11 12:57] sgutermann commented on #20
@carmineesposito73 I must be getting old, I completely missed "vcd_vapp_network" !! Ok, back to the drawing board. I will let you know what happens.

[2018-12-12 14:58] sgutermann opened #29 "vcd_vapp_vm_disk showing change where there is none"
- name: VMWARE_CLOUDDIRECTOR_CREATE_VM | Create additional data drive vapp vm disk
      vcd_vapp_vm_disk:
        vm_name: "{{ vmname }}"
        vapp: "{{ vappname }}"
        vdc: "{{ vdc }}"
        size: "{{ cloud.disk.datadrive.size|int|default(0) }}"
        state: "present"

The size is defined and not changing.

Running the playbook over an over and over again shows a change each time. No

[2018-12-12 15:05] sgutermann opened #30 "vcd_vapp off of template without network not possible"
I am not sure where to start describing this or what logs to send.

It is reproducible but pretty time consuming to do so.

I created a vm by hand in vCloud. Then sysprept it. Powered it down. Removed in vCloud Director the Network and then templated it.

It is impossible to use this template with the vcd_vapp module, I have tried it all and asked the provider to check the logs. He can not make a

[2018-12-12 15:09] sgutermann commented on #28
Yes, this is not a module or ansible problem but looks 99% like a python problem. Data being passed is not UTF8.

@mukultaneja ... I would close the issue but I am not allowed to.

[2018-12-12 15:11] sgutermann commented on #26
@mukultaneja do you have any data on this? Sorry if I am bothering you, but if you do not answer on the side of vm ware it looks to me no one else is going to.

[2018-12-12 15:20] sgutermann commented on #29
OMG ... sorry to say, there is a change. I have 10+ drives attached to my VM now !!

[2018-12-12 18:48] mukultaneja commented on #29
@sgutermann I did not understand the issue.

[2018-12-12 18:50] mukultaneja commented on #28
@sgutermann, cool!
@chechuironman would be helpful if you can provide more information to clarify the issue.

[2018-12-12 19:55] mukultaneja commented on #20
@carmineesposito73, I have added new changes with resolving the bug you notified. Point 2 is not supported by the latest version of Pyvcloud and Point 3 I think it will create more ambiguity and need more efforts for the user to remember the nic_id. I think it should be automated instead of manual.

[2018-12-12 19:58] mukultaneja commented on #29
@sgutermann, Yes you are taking it wrong. Here 'present' equivalent to 'create' so every time when you run the module it will create a new disk.

[2018-12-13 06:40] kaneda-fr commented on #29
Hi,
Shouldn’t the behavior be to create only if it has not been created in a previous run?

[2018-12-13 10:46] sgutermann commented on #29
Yes, normal behavior for an ansible module is "present" = present and nothing else.

But I think this is similar to what I had a few weeks ago. The problem seems to be with the Disk Name. So I will try this with adding the Disk Name.

Simply means headsup for the disk name. As this is automagically created.

[2018-12-13 12:06] mukultaneja commented on #29
@sgutermann as you are aware we can not set hard drive name while creating so I think there is no meaning to give hard drive name as an argument to the module while state being 'present'. So due to this limitation, the module will add a new disk and give you back the details of newly added details.

[2018-12-13 12:09] mukultaneja commented on #26
@sgutermann, sure I would like to look into this.

[2018-12-13 12:10] #20 closed

[2018-12-13 12:12] mukultaneja commented on #15
@rthomson, please use vappvmnic module to assign static IPs to the VM and acknowledge if it works for you.

[2018-12-13 13:36] carmineesposito73 commented on #15
@rthomson @mukultaneja with the new `vcd_vapp_vm_nic` to create a vm with nic0 with a static address you have to:

- create the vm (in my use case I have a vm with nic0 with dhcp)
- add a vm nic (should be nic1)
- delete nic0
- add a vm nic (should be nic0)
- delete nic1

you cannot add a nic to a vm without any nics (the NetworkConnectionSection is not present in vms without nics)

[2018-12-14 14:18] sgutermann commented on #29
Yes.

Thank you for putting that straight again in my head.

[2018-12-14 14:18] #29 closed

[2018-12-14 14:24] sgutermann commented on #15
@carmineesposito73 thank you for posting that. I though I was going crazy. I had to make a template with a nic connection in order to get creating VMs. I was not able to get a template running and adding a nic to it afterwards.

Funny enough that does work using the HTML5 Client. So IMO there must be a way.

[2018-12-14 18:37] #28 closed

[2018-12-14 18:41] mukultaneja commented on #15
@all, I have updated vcd_vapp_vm_nic module with update functionality of VM NICs. As of now, you can switch between Manual to DHCP mode and update NIC's Ip Address in Manual mode. Update me if I have covered me this enhancement.

[2018-12-17 09:18] carmineesposito73 commented on #15
@mukultaneja, I tested the new module: i can switch between all allocation modes: DHCP, POOL and MANUAL and I can change IP address in MANUAL mode.
Changing the network is not covered, right?

[2018-12-17 10:32] carmineesposito73 commented on #15
here https://github.com/carmineesposito73/ansible-module-vcloud-director/blob/master/modules/vcd_vapp_vm_nic.py you can find my proposal on this modules:
* added nic_id parameter to create a nic with id chosen by the user (can be useful, for example, if you like to have, on different vms, the same nic id on a specific network, e.g nic_id = 9 on network "mgmt")
* update operation can be done even i

[2018-12-17 10:52] mukultaneja commented on #15
@carmineesposito73 network is also covered!

[2018-12-17 12:11] carmineesposito73 commented on #15
@mukultaneja, I had errors, I'll do more tests

[2018-12-18 09:13] carmineesposito73 commented on #15
@mukultaneja, I got an exception trying to change network.
[code]

To simplify I tried to change network of a DHCP nic, I've done this tests

[code]
[code]

[2018-12-18 14:13] carmineesposito73 commented on #15
@mukultaneja, to make things working I've done these changes (probably you can do a better job)
[code]

[2018-12-20 14:02] carmineesposito73 commented on #23
any comment on that?
thanks

[2018-12-21 09:03] sgutermann opened #31 "vcd_vapp_vm poweroff error when vm already powered off"
- name: VMWARE_CLOUDDIRECTOR_STOP_VM | Power off vm in vapp
      vcd_vapp_vm:
        target_vm_name: "test_vm"
        target_vapp: "test_vapp"
        target_vdc: "demo"
        operation: "poweroff"

Running this once does poweroff the VM nicely.

Running it a second time produces an ansible fail !!

Expected result: A simple message that the state is already powered off.

--------------------

[2018-12-27 09:29] AlexDyukov opened #32 "vcd_vapp_vm networking"
Hi there!

I have got an error in adding VM to exists VAPP. I have template without networks preset, so there is two ways:
1) setup VM w/o subnets
2) add subnet net1
3) add subnet net2
or
1) setup VM w/ subnet net1
2) add subnet net2

I'm having trouble with both of them:
in first case exception
AttributeError: no such child: {http://www.vmware.com/vcloud/v1.5}NetworkConnection
raised
in the secon

[2018-12-27 16:13] TomaszBelina opened #33 "Roles partialy implemented"
There are multiple issues in roles implementation.

1.  Hardcoded values, eg. Terraform_VDC in https://github.com/vmware/ansible-module-vcloud-director/blob/master/roles/vapp/tasks/main.yml
2. Questionable flow. For example what is the point of creating and destroying vApp in the same role like in  https://github.com/vmware/ansible-module-vcloud-director/blob/master/roles/vapp/tasks/main.yml ?

Ge

[2018-12-27 16:34] Antres commented on #28
Hi, I've same problem, do you have resolved?

Thank you

[2018-12-29 17:56] sgutermann commented on #28
You have a "SyntaxError: Non-ASCII character '\xc2' in file ". Then check the line. Check what you are passing? Does it need to go in quotes? Do you have non ascii characters defined in your dictionary, playbook? Anywhwere?

[2018-12-29 17:58] sgutermann commented on #33
I agree that the "roles" are not really roles but rather samples. However omitting them completely does not make it easier in traying to understand this VM Ware construction of vApp vs VM.

[2018-12-29 18:03] sgutermann commented on #32
Well I am not sure if I am any help. But you will find other issues regarding network problems.

Currently I have it only working by having my template already hooked up to the network. In other words I have a so called management net which is what I run ansible over. Every machine does have this network attached anyway.

I am currently working on getting other networks to attach as well but will

[2019-01-01 17:59] mukultaneja commented on #23
@carmineesposito73, I have added a new commit and hope it would resolve your issue.

[2019-01-01 19:18] mukultaneja commented on #33
@TomaszBelina, "roles" are nothing but equal to test scripts to test these modules. I wrote these test scripts with internal (VMware) system values. Apart from testing, "roles" may help you to write your own playbooks as well.

[2019-01-02 18:45] mukultaneja commented on #31
@sgutermann, I have added a patch to resolve this issue. Please check once the latest commit https://github.com/vmware/ansible-module-vcloud-director/commit/7ae26378ef11f931a2ba66569f41e7e5d3e2b57c

[2019-01-02 19:17] mukultaneja commented on #15
@carmineesposito73, I have added a patch to update vm nic network. Please check once https://github.com/vmware/ansible-module-vcloud-director/commit/26ede9e5255492ba71cb848abd69db634e81e1f6

[2019-01-05 17:51] TomaszBelina commented on #33
Role is well defined concept in Ansible. Using roles for testing purpose is basically misleading for project users.

[2019-01-06 12:12] sgutermann commented on #33
@TomaszBelina sounds ok either way to me. Do a pull request, let us see what you have got.

[2019-01-07 10:49] sgutermann commented on #31
@mukultaneja

No.

Still produces a fail.

The other thing I noticed is that it actually does a poweroff on the VMs in the vApp, but only stops the vApp and does not power it off.

[2019-01-08 10:48] carmineesposito73 commented on #23
thanks @mukultaneja , this is the modification I suggested. It works

[2019-01-08 10:53] carmineesposito73 commented on #32
@AlexDyukov, does your vm has a nic in the template?
If so I can suggest a workaround:
* create the vm with no network configuration
* update network configuration using `vcd_vapp_vm_nic.py` module

[2019-01-08 11:05] carmineesposito73 commented on #15
@mukultaneja, it works but I've found one more issue:
I cannot change allocation mode from DHCP to MANUAL (in this case two steps are required: DHCP -> POOL -> MANUAL).
This is the exception I got:
[code]

[2019-01-08 11:54] carmineesposito73 commented on #15
The issue DHCP to MANUAL is present with VM powered off, when the IpAddress field is missing and cannot be modified, this is the output of read command with VM powered off
[code]

[2019-01-08 17:01] carmineesposito73 commented on #15
I will open a specific issue on that

[2019-01-08 17:31] carmineesposito73 opened #34 "vcd_vapp_vm_nic cannot update VM nic from DHCP to MANUAL"
Allocation mode cannot be changed from DHCP to MANUAL using `vcd_vapp_vm_nic` "update" operation.
The issue is present with VM powered off, when the IpAddress field is missing so cannot be modified.
This is the output of "read" operation command with a VM powered off with a DHCP nic
[code]
This is the exception I got:
[code]

[2019-01-08 17:44] rthomson commented on #15
Thanks for all the work on this folks! I've been sidetracked from my initial work with ansible and vCD so I haven't had the chance to test the new module yet but I will try to do soon.

[2019-01-08 18:56] carmineesposito73 commented on #15
@mukultaneja here https://github.com/carmineesposito73/ansible-module-vcloud-director/commit/611a45937c8923644cd6e67474f15b37cf6d0437 you can find my last commit with some differences/improvements on `vcd_vapp_vm_nic.py`

Differences beetwen my module and the official one:
* function `add_nic`: nic_id can be selected, if nic_id is already present nothing happens (warning message), if nic_id is not

[2019-01-08 19:18] carmineesposito73 commented on #24
@mukultaneja, I've done some improvements on `vcd_vapp_network.py` (https://github.com/carmineesposito73/ansible-module-vcloud-director/blob/master/modules/vcd_vapp_network.py), should I do a pull request?

[2019-01-09 13:37] MichalTaratuta commented on #26
@sgutermann @mukultaneja have a look at PR #35

[2019-01-09 13:41] sgutermann commented on #26
@MichalTaratuta ... Thank You ... unfortunately I can not test this module. As I am just on the user end and do not have the necessary rights.

[2019-01-09 13:59] MichalTaratuta commented on #10
@urajio @rackergs @mukultaneja have a look at PR #36

[2019-01-14 13:06] wilmardo opened #37 "Reason for not merging upstream?"
Is there a reason this module exists outside of the Ansible core?

The reasoning behind this is something I would like to know before using a module for multiple projects, might be useful information for the in the readme?

[2019-01-14 13:35] carmineesposito73 commented on #26
SSL VPN service is available on advanced ede (NSX), so you should look at "vCloud Director API for NSX Programming Guide" (vcloud 8.20, for example)
https://pubs.vmware.com/vcd-820/index.jsp?topic=%2Fcom.vmware.vcloud.api.nsx.doc_27_0%2FGUID-3FDFECA8-5D0B-4432-9AF3-A8BFA5C23F7F.html

here the link to the pdf (API version 27.0)
https://pubs.vmware.com/vcd-820/topic/com.vmware.ICbase/PDF/vcloud_nsx_

[2019-01-15 03:13] gm12367 opened #38 "vcd_vapp SyntaxError"
Dear Author

When I am trying to use vcd_vapp module, I'm facing below error. I completed followed guide and read me to setup my environment. Would you please to check this:

[code]

run.yml:
[code]

Thanks!

[2019-01-15 03:20] gm12367 commented on #38
I even add "LC_ALL=en_US.utf8" into /etc/environment and "#coding=utf-8" in the head of modules/vcd_vapp.py, but neither help.

command "locale" output:
`LANG=en_US.UTF-8
LC_CTYPE="en_US.utf8"
LC_NUMERIC="en_US.utf8"
LC_TIME="en_US.utf8"
LC_COLLATE="en_US.utf8"
LC_MONETARY="en_US.utf8"
LC_MESSAGES="en_US.utf8"
LC_PAPER="en_US.utf8"
LC_NAME="en_US.utf8"
LC_ADDRESS="en_US.utf8"
LC_TELEPHONE="en_US.u

[2019-01-15 11:51] AlexDyukov commented on #32
@carmineesposito73 it doesnt matter which VM NIC in template, because create new VM going good anyway. `AttributeError: no such child:` raised in operation of NIC update, because its the same way as #1 of the topic

[2019-01-15 14:00] carmineesposito73 commented on #32
@AlexDyukov if I understand well you create the VM but you cannot configure the VM nics using  `vcd_vapp_vm_nic.py`, correct?

do you use the latest version of `vcd_vapp_vm_nic.py` (commited in january)?
actually I've found an issue (#34) but it works.

You can try also to read the vm nics to check is something is wrong
[code]
Here https://github.com/carmineesposito73/ansible-module-vcloud-directo

[2019-01-16 11:56] sgutermann commented on #38
ansible --version

[2019-01-16 13:15] gm12367 commented on #38
Here is the ansible version output:

ansible 2.7.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansre/ansible/plugins/modules']
  ansible python module location = /usr/lib/pyt
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Oct 30 2018,ed Hat 4.8.5-36)]

[2019-01-16 13:33] gm12367 commented on #38
Below is the output, hope it can help.

ansible 2.7.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Oct 30 2018, 23:45:53) [GCC 4.8.5 20150623 (

[2019-01-16 14:05] sgutermann commented on #38
**python version = 2.7.5**

if I am not mistaken you need to be running ansible 2.7 and up with python3

[2019-01-17 18:01] mukultaneja commented on #38
@gm12367 Please use python version 3 to use these modules.

[2019-01-17 18:05] mukultaneja commented on #37
@wilmardo the major reason is that there are many other modules we are working upon right now and due to continuous development it is very hard to manage/submit pull request to upstream.

[2019-01-17 18:05] #33 closed

[2019-01-17 18:07] mukultaneja commented on #31
@sgutermann Please confirm whether you are talking about vcd_vapp or vcd_vapp_vm module.

[2019-01-18 09:43] gm12367 commented on #38
Thank you so much for your feedback, I can create Vapp successfully. And I tried vapp_vm module, it works as well.

[2019-01-18 09:43] #38 closed

[2019-01-21 13:57] pjamelot opened #39 "cannot connect to my Vcloud"
Hello, I tried to run this command below, I think there is problem in my environment (Centos 7.6)
Best Regards,

**$ansible-playbook run.yml -e ansible_python_interpreter="/opt/rh/rh-python36/root/usr/bin/python"**

 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

PLAY [vCloudDirectorAnsible] *****************************

[2019-01-22 08:56] sgutermann commented on #31
@mukultaneja sorry for answering this late, but I was a bit under water the last days.

I just checked again and believe it or not, my playbook is using the vcd_vapp module. As I am powering off the whole app.

I had originally started powering off the vom but switched to the whole app as I am only running one VM per APP.

Sorry for the confusion.

[2019-01-31 12:07] carmineesposito73 commented on #24
hi @mukultaneja, did you have the chance to have a look to my changes on `vcd_vapp_network.py` ?(https://github.com/carmineesposito73/ansible-module-vcloud-director/blob/master/modules/vcd_vapp_network.py)

[2019-01-31 18:54] mukultaneja commented on #39
@pjamelot I think the problem is with the playbook as you are not including `name` for tasks. Please follow the [https://www.ansible.com/blog/getting-started-writing-your-first-playbook](url) and try to run it again.

Hope it should work!

[2019-01-31 18:54] #37 closed

[2019-01-31 18:55] mukultaneja commented on #34
@carmineesposito73 please give me some time to review the changes. Apologies for the delay!

[2019-01-31 19:02] mukultaneja commented on #31
@sgutermann As the issue says, the above patch is for `vcd_vapp_vm` module which checks the VM state before powering off/on the VM.

[2019-02-05 18:49] #15 closed

[2019-02-07 08:57] carmineesposito73 commented on #34
@mukultaneja, you are welcome.
our modules now differ only on nic_id (it's an option in my module when a nic is added), anyway it's a choice.
can be useful to add "network" info in output message.
(in you module there's also an extra comma - line 136 - that should be removed)

[code]

[2019-02-11 19:41] mukultaneja commented on #31
@sgutermann, I have added the same check for vApps  https://github.com/vmware/ansible-module-vcloud-director/commit/126e7e55a8631b8fc8ccdaa0fdaecd11456edad1

[2019-02-11 19:42] #34 closed

[2019-02-12 11:00] cdivitotawela commented on #39
@pjamelot error message indicates 'VCDLoginError: Login failed for user None to org None' where user and org has not been set. Please check whether environment variables set correctly. You can supply username, password and org in the task itself to debug.

[2019-02-18 17:24] mgaruccio opened #42 "Update VAPP/VM metadata"
It would be helpful if the vApp and VM modules offered the ability to set metadata, either at create time or after an object has been built.  We are using metadata tags to provide group membership information to our inventory script and currently we need to add multiple tasks after the deployment to retrieve the VM's ID and then post the correct metadata to assign groups.

[2019-02-19 18:33] #39 closed

[2019-02-21 04:10] tfiedler opened #43 "The error was: SyntaxError: Non-ASCII character '\xc2'"
Python version output Python 3.6.7

Ansible version output
[code]
pip freeze output
[code]
Play
[code]

ansible-playbook output
[code]

I believe I am using all the correct versions. Any ideas?

Thanks in advance
Ted

[2019-02-25 12:48] sgutermann opened #44 "Specify Python Version"
Please specify Python Version more closely in the pre requisites.

See: https://github.com/vmware/pyvcloud/issues/438

I just upgraded mine and stumbled on this as I had 3.5 installed up to now.

Minimum Version is 3.6.

[2019-02-26 09:49] sgutermann commented on #43
I am sure we have had this here bevore, but I can not find the issue.

This basically means that remote system printed something non-ascii into stderr as error message.

As you are listing your catalog, the first question I would have is what is in your catalog?

Running this play with "-vvv" might give more clues as to what you are getting back.

[2019-02-26 13:30] tfiedler commented on #43
I get the error with any action I try. The odd bit is that when I use the wrong (per the docs) version of Python - I get the results I am looking for - for this action.

[code]
PS U:\> wslconfig.exe /l
Windows Subsystem for Linux Distributions:
Legacy (Default)
kali-linux
Debian
Ubuntu-18.04
PS U:\>
[code]

[2019-02-26 13:58] tfiedler commented on #43
After deleting the ansible-module-vcloud-director, and re-cloning it,  it works fine.  The only difference is that I re-typed the play.

Closing.

[2019-02-26 13:58] #43 closed

[2019-02-26 19:27] #31 closed

[2019-02-28 21:49] dev-dom opened #47 "organization vdc are created only with SYSTEM org admin"
Organization vdc are created only with SYSTEM org admin.
Looks like there is no way to use any other user.
The module should allow user to specify the organization admin not only the SYSTEM admin to create an organization vdc: this is critical to be implemented.
Thanks,
dom

[2019-03-01 09:27] sgutermann commented on #31
@mukultaneja sorry for not answering sooner. Thank you. I updated everything on my machine and tried it and it now works as expected. :)

[2019-03-04 18:16] #44 closed

[2019-03-04 18:29] mukultaneja commented on #47
the module has not tied up with SYSTEM org or administrator user. You can update user/org in the relevant task playbook and module will use those details.

[2019-03-04 18:32] #10 closed

[2019-03-04 18:38] #32 closed

[2019-03-04 18:39] mukultaneja commented on #32
@AlexDyukov Please try with updated vcd_vapp_vm_nic module. It has the capability to add/delete/update nics with given network details. Feel free to open the issue again in case of not working.

[2019-03-04 18:41] mukultaneja commented on #30
Hard Luck!!! Never face such type of scenarios. Would be helpful if you can share more details.

[2019-03-04 18:47] #26 closed

[2019-03-14 09:44] sgutermann commented on #30
Sorry, I will try to explain it a bit more in detail.

When I use a regular Linux Template to create a vapp I can not reach it later on via ansible or ssh.

With a regular Linux Template I mean updated CentOs7 cleaned out (ssh keys, temp, history, udev, etc.).

If I leave the VM connected to the Network in VM Ware before templating. This is no issue. I can spin up any VM off of this template (of c

[2019-03-14 09:46] sgutermann opened #48 "vcd_vapp_vm_nic cannot change NetworkAdapterType"
I have a load of VMs that have a strange default adapter type assigned to them which is now causing problems in my environment.

Using VMXNET3 solves this.

However I can not find a way to change this on the machines.

[2019-03-19 19:58] tfiedler opened #49 "unable to delete nic per docs"
I was getting errors when trying to delete a nic per the [docs](https://github.com/vmware/ansible-module-vcloud-director/blob/master/docs/index.md#delete-vapp-vm-nic)

but when I started poking around I saw you could use a list nic_ids instead of a string nic_id and everything worked as expected.

[code]
Ted

[2019-03-22 16:00] tfiedler opened #50 "Adding more than 1 network to a vapp?"
So I have this snippet
[code]
When I run it, I get the following error
[code]
So I know `state: "update"` does not work, but Ive tried `state: "present"` and it just tells me the vapp already exists.

Does this functionality exist and Im missing it? Or has anyone found a workable workaround?

Thanks in advance
Ted

[2019-03-22 21:39] dev-dom commented on #47
Thanks for your answer: however if I log directly to the org it won't be able to access to the pvdc details.
In fact I get this error:

`File "/usr/local/lib/python3.6/dist-packages/pyvcloud/vcd/org.py", line 1462, in create_org_vdc
    pvdc = system.get_provider_vdc(provider_vdc_name)
  File "/usr/local/lib/python3.6/dist-packages/pyvcloud/vcd/system.py", line 300, in get_provider_vdc
    'access

[2019-03-22 21:49] dev-dom commented on #47
The module calls org.py and system.py that require SYSTEM as org value when logging in.
Anything different from SYSTEM will translate into error

[2019-03-23 18:54] mukultaneja commented on #49
@tfiedler thanks for pointing it out this issue and applogies for this much delay in updating the documentation. I have updated the documentation on modules usage. Please refer to the new docs and feel free to create issues if you find any.

[2019-03-23 18:54] #49 closed

[2019-03-23 19:06] mukultaneja commented on #50
@tfiedler as of now "state" for updating vapps is not implemented that is why you are getting above error.

[2019-03-24 13:28] tfiedler commented on #50
Are there any known workarounds for adding a second nic when the vapp is instantiated? If not my initial thoughts are to try terraform just to add the second nic or use the api directly.

Thanks
Ted

[2019-03-26 21:26] #50 closed

[2019-03-27 00:29] dev-dom commented on #47
Hello, I figure out where the bug is:

From https://github.com/vmware/ansible-module-vcloud-director/blob/master/modules/vcd_org_vdc.py

go to line 313->317

[code]

resource=logged_in_org returns an object related to client: client object authenticate as SYSTEM admin.

This causes the ovdc to be owned by SYSTEM (bug)

If instead of resource=logged_in_org you pass the href or the resource object o

[2019-03-27 21:54] dev-dom commented on #47
I fixed the bug: will pull my code for review

[2019-03-29 07:54] swerveshot opened #51 "Feature Request: snapshot managent with the vCloud provider"
### Environment
ansible-module-vcloud-director v1.0

### Proposed Functionality
As a service provider I would like to have the ability to offer tenants with the ability to control VM and/or vApp snapshots with the Ansible vCloud provider.

### Use Case
This feature would be benificial for tenants that want to be able to create snapshots automatically. For instance before executing an automated pat

[2019-03-30 23:25] swerveshot commented on #51
It seems that pyvcloud only supports snapshots on a individual VM level. So it is currently not possible to have vApp snapshot support for Ansible provider.

[2019-04-17 18:14] mgaruccio commented on #47
I encountered this problem as well, didn't see a PR from @dev-dom  so I submitted my fix in #53.

[2019-04-17 20:21] mgaruccio opened #54 "Problems with gateway configuration"
I am attempting to use the recently added and edge gateway module and I'm running into trouble with a few items.  First, the module performs it's check for an existing gateway by using a `try/except` block but the `get_gateway` function it relies on returns `None` if a gateway isn't found.  This results in the module always reporting that the gateway exists, whether it does not not.

I added an ad

[2019-04-18 14:30] mgaruccio commented on #54
Ok I figured out the issue.  The gateway module ONLY works if the pyvcloud version is 20.0.2, 20.0.1 doesn't have the gateway functions, 20.0.3 changes them to use the `_api_version` modifiers and 20.1.0 changes the way get_gateway works to return a `none` (seemingly regardless of whether there is a gateway there or not) instead of an exception.

This feels more like issues with pyvcloud honestly

[2019-05-08 07:22] carmineesposito73 commented on #24
still no chance to have a look at this?

[2019-05-09 10:28] carmineesposito73 opened #56 "Error creating isolated network with vcd_vdc_network.py"
module `vcd.py` of pyvcloud 20.1.0 requires cidr notation also for isolated netwoks

[code]
so following patch in `vcd_vdc_network.py` is needed
[code]

[2019-05-09 10:31] carmineesposito73 opened #57 "gateway_name should not be a vcd_vdc_network.py required argument"
since `vcd_vdc_network.py` is used to create also isolated and direct networks, `gateway_name` should not be a required argument

[2019-05-14 13:53] carmineesposito73 commented on #50
@tfiedler, try this https://github.com/carmineesposito73/ansible-module-vcloud-director/blob/master/modules/vcd_vapp_network.py

[2019-05-14 13:57] carmineesposito73 commented on #34
@mukultaneja, if you do not use nic_id when adding a nic, it's not possible writing playbooks with idempotency

[2019-05-14 17:58] tfiedler commented on #50
@carmineesposito73 TY - I have had to put this on a back burner for a few weeks to work on something else, but I will give this a shot!

[2019-05-15 11:14] okozarva opened #58 "An exception occurred during task execution"
Hello,

I could not run any task with this module.

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'pyvcloud'

ansible 2.7.10
  config file = None
  configured module search path = ['/home/okan/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/pyth

[2019-05-15 18:22] okozarva commented on #58
pip install --user pyvcloud resolved my problem.

[2019-05-15 18:22] #58 closed

[2019-05-15 19:48] tfiedler opened #59 "VDC Allocation Models"
Per the documentaion there are three settings for VDC Allocation Models.

[code]

Two of these match VMWares chooseable allocation models

Allocation Pool == AllocationPool
Reservation Pool == ReservationPool

However

Pay-As-You-Go != AllocationVApp

My question is are these in fact the same thing. I can only assume yes, as VMWare has 3 allocation models, and the documents for this module have 3

[2019-05-15 19:54] tfiedler opened #60 "VDC Resource limits"
Per the docs

[code]

I assume this means CPU Quota - does a 0 value mean unlimited or does it mean 0. If it means zero, how could I specify unlimited?

TY in advance
Ted

[2019-05-16 12:25] okozarva opened #61 "Create Org doesn't work"
Error: Login failed for user admin.okan to org None\n", "module_stdout": "", "msg": "MODULE FAILURE", "rc": 1}

What is the correct usage for login?

- name: vCloudDirectorAnsible
  hosts: localmachine
  connection: local
  become: yes
  environment:
    env_api_version: 30.0
    env_host: "https://vcloudhostname.com"
    env_org:
    env_password: mypass
    env_user: admin.okan
    env_verify_ss

[2019-05-16 13:09] okozarva commented on #61
It is resolved!

Missing org parameter caused login error.

Should be;

org: "system"

[2019-05-16 13:09] #61 closed

[2019-05-17 08:18] okozarva opened #62 "Feature Request: create organization admin user when create org"
Organization admin account cannot create when creating organization.

If you want to create an organization admin account for org, you can not create. Because you can not login to an organization with local admin user. So, we need to create organization admin user when creating organization.

Is it possible to add this feature?

[2019-05-21 07:49] mukultaneja commented on #62
This feature is already available as part of the user module. To create a user for an organization, you have to pass the `org_name` as an argument with `role_name` as `admin` to the module.

[2019-05-21 12:35] carmineesposito73 opened #63 "vcd_vapp_vm_nic cannot set NetworkAdapterType"
the function `add_nic` in `vcd_vapp_vm_nic` do not have parameter to set `NetworkAdapterType`.
issue #48 is related to `update_nic` instead.

[2019-05-22 09:20] kaneda-fr opened #64 "vcd_vapp_vm_nic is not idempotent"
Hi,

Each time running this module runs, it will create a new NIC for the network, even if one already exists.  The nic_id specified as parameter is not taken into account for the NIC creation.

An idempotent behavior would be to:
- when nic_id is NOT specified and the network is already connected to the VM - do nothing
- when a nic_id is specified and it already exist on that network - do nothing

[2019-05-22 09:43] carmineesposito73 commented on #64
I agree,
https://github.com/vmware/ansible-module-vcloud-director/issues/34#issuecomment-492248921

nic_id is not used in `vcd_vapp_vm_nic`, i've done my version here
https://github.com/carmineesposito73/ansible-module-vcloud-director/blob/master/modules/vcd_vapp_vm_nic.py

where nic_id is an optional parameter

[2019-05-22 09:54] carmineesposito73 commented on #64
anyway my version do not respect your bullet, your requirements are more complex.

herte my comment on them.

1. ok -> exception network already connected to that network
2. maybe can be useful to have more nics on the same network (if nic_id is not already used)
3. I prefer explicit `operation = update` to change nic network (to avoid unexpected modification)
4. in all other case, create the netw

[2019-05-22 17:55] okozarva commented on #62
Hello,

Thank you for your reply.

I already tested this feature before creating this issue. This feature does not meet my requirements.

User module waits to login with organization admin account. Because you can not login to vcloud.com/org/test with local admin user. So, if there is no org admin account. You cannot login. I want to create first admin account under the organization.

I want to au

[2019-05-23 10:37] okozarva opened #66 "VDC is already present"
PLAY [vCloudDirectorAnsible] ***************************************************

TASK [create vdc] **************************************************************
 [WARNING]: VDC ansible_pool is already present.

ok: [localmachine]

TASK [create vdc output] *******************************************************
ok: [localmachine] => {
    "msg": {
        "changed": false,
        "failed": false

[2019-05-23 10:42] okozarva commented on #66
All VDC names returned already present error.

[2019-05-23 11:46] okozarva commented on #16
+1

[2019-05-23 13:51] #59 closed

[2019-06-03 19:39] mukultaneja commented on #62
Hi,

Please try the following play to create an org and assign an admin user to it using the user module. Please confirm if you are giving "Organization Administrator" role to the new user.

    - name: create org
        vcd_org:
          org_name: Acme
          full_name: Acme
          is_enabled: true
          state: present
        register: output

      - name: create org output

[2019-06-08 12:03] mukultaneja commented on #47
Hi @mgaruccio @dev-dom,

Thanks for raising an issue and proposing the solution as well. I really apologize for delays in the implementation. I have merged your code with few other changes in the module. As I have added another operation and made few changes in the module so please allows me to close your merge request along with this issue.

Please validate the changes and feel free to reopen the

[2019-06-08 12:03] #47 closed

[2019-06-08 12:08] mukultaneja commented on #66
@okozarva Please try again with the latest code. You probably should not get this issue this time. I just have updated the `vdc_org` module code due to changes in `pyvcloud` library.

[2019-06-10 09:27] okozarva commented on #62
It works. Thank you mukultaneja!

[2019-06-10 09:27] #62 closed

[2019-06-10 11:23] okozarva commented on #66
It works. Thank you mukultaneja!

[2019-06-10 11:23] #66 closed

[2019-06-12 20:07] kaneda-fr commented on #64
Hi,

1. is quite key, otherwise each time you run the play, a new nic is added
2. ok with your proposal
3. i understand, it will be useful that the update can create / update. Otherwise, if you do not know the current state (not created or create with another network) you need to run 2 operations, or do a manual detection before doing a create or an update
4. ok

[2019-06-13 07:22] cmammoli commented on #30
I do it this way:
- create empty vapp linked to the org network I need (vcd_vapp)
- create a vm in the vapp linked with the org network and deploy=false (vcd_vapp_vm)
- set vm ip address if I need it to be static (vcd_vapp_vm_nic)
- power on the vm (vcd_vapp_vm)

[2019-06-14 18:57] mukultaneja commented on #60
It means unlimited because the minimum percentage value is never 0 but 0.26.

[2019-06-19 10:54] RyanW19 opened #71 "Login failed to ORG"
Attempting to login to vCD and list all VMs using this module but getting the below error:

line 49, in login\nansible.module_utils.vcd_errors.VCDLoginError: Login failed for user REDACTED to org REDACTED\n",

---
Playbook
- name: Initialisation
  hosts: localhost
  gather_facts: false
  environment:
    env_user: REDACTED
    env_password: "REDACTED"
    env_host: REDACTED
    env_org: "REDACTED"

[2019-06-20 09:54] #71 closed

[2019-06-23 05:51] sureshpalemoni opened #72 "Unable to Run the playbooks"
TASK [catalogs : create catalog] ****************************************************************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: SyntaxError: Non-ASCII character '\xc2' in file /var/folders/nc/v4fymr5x12zfmm7mk49_rgjw0000gn/T/ansible_vcd_catalog_payl

[2019-06-26 14:27] mgaruccio commented on #72
It looks like your running within Python2, take a look at [the ansible docs](https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html) for info on running ansible using python3

[2019-06-26 14:58] carmineesposito73 commented on #72
to use python3 try this:

ansible hosts file (.ini format)
[code]

ansible hosts file (.yml format)
[code]

[2019-07-23 22:31] sgutermann opened #73 "No direkt vcd vm modules available!"
With one of the later updates VM Ware has finally made it possible to create VMs without having to use the vapp wrapper.

Have been waiting for this for quite a while now.

Now there are no ansible modules for this at all. Everything is made around the strange vapp.

Is this in planing or being worked on?

No good releasing something great and new when you can not use it.

[2019-07-23 22:33] sgutermann commented on #72
@sureshpalemoni can we see your "ansible --version" ?? Did you already resolve your issue? Hello?

[2019-07-23 22:41] sgutermann commented on #30
@cmammoli there is currently no way that I can see to create this without the vapp if one does need it or not. Or am I mistaken here.

@mukultaneja looks like VM Ware has seen this the way I do, see my other Issue. As of two updates ago it is finally possible to create just a vm with the HTML5 Client, which means it should also be possible to do with the ansible modules.

@kaneda-fr how would I cr

[2019-08-17 11:10] #72 closed

[2019-08-21 15:26] alvarosola1 opened #74 "Error create vm in api 5.6"
I have a permission error when I create a vm in a vapp that is booted.

I can't do it until I make a complete stop of the vapp

Has anyone happened to you?

Only in version 5.6

[2019-08-29 07:52] monadhiman opened #75 "Supported VCD version with these Ansible Modules"
Hi Team,

Could anyone confirm which VCD version is supported with these modules. As I started with VCD version 9.5 and now my playbook is not working for vcd version 8.2.

Is there anything I am missing on. Or do these modules support on VCD version 8.2 ?

Thank You.

[2019-08-29 07:54] mukultaneja commented on #75
@monadhiman these modules expect VCD version 9.1 and above.

[2019-08-29 09:03] monadhiman commented on #75
@mukultaneja Thanks for your reply on this.
I know would be a silly question still, Is there any option or way to use these modules on VCD version 8.2.

[2019-08-29 09:51] mukultaneja commented on #75
No, these modules are not compatible with 8.2.

[2019-08-29 09:56] monadhiman commented on #75
@mukultaneja Thanks for your help !

[2019-08-29 09:59] monadhiman commented on #75
@mukultaneja Do we have any ansible module for vCD version 8.2 ?

[2019-08-29 10:26] wilmardo commented on #64
This issue over at Ansible might be related:
https://github.com/ansible/ansible/issues/38605

[2019-09-04 05:52] pmedilall opened #76 "Ansible Tower 3.5 and Python 3"
We currently trying to use this module on the latest version of Ansible Tower with Python 3 which is required for this module but we are unable get Tower working as in the Web front end fails to load up.

Are there any suggestions and have you seen this problem before?

Thanks

[2019-09-04 20:20] mukultaneja commented on #76
No, I have not seen any such problem before. Maybe it will help if you can give more detail about how you are using these modules using Ansible Tower etc.

[2019-09-06 05:49] shamaljayalath opened #77 "vcd_org fails to create Org"
We are trying to create a fresh org on vcd. AS per the documentation ( https://github.com/vmware/ansible-module-vcloud-director/blob/master/docs/index.md#org-example-usage ) all we need is org_name, full_name and is_enabled.

Since we are trying to create the org, it make sense to ask for org name (org_name)  but no point of requesting to specifying  an org. When we comment out "org" or "env_org"

[2019-09-06 06:27] shamaljayalath opened #78 "Authentication issue"
TASK [vdc : create vdc] *************************************************************************************************************************************
task path: /var/lib/awx/projects/_8__vcd_test/roles/vdc/tasks/main.yml:5
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: awx
<127.0.0.1> EXEC /bin/sh -c 'echo ~awx && sleep 0'
<127.0.0.1> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /var/

[2019-09-07 07:03] mukultaneja commented on #77
@shamaljayalath, creating a new org is an administrative operation. To create a new org, one has to login to into VCD's administrative org. Here `org_name` refers to the newly org name where `env_org` / `org` refers to the VCD administrative org.

[2019-09-07 07:06] mukultaneja commented on #78
@shamaljayalath which org you want to login into Terraform or POrg? Please share your VCD version and Pyvcloud version.

[2019-09-07 07:12] mukultaneja commented on #75
Unfortunately not :(

[2019-09-07 07:23] kaneda-fr commented on #78
Is your user a system admin or an org admin?

The log shows it’s a user authentication issue.
« Login failed for user administrator to org »

Try creating a .org admin sur account and use this in your ansible script (system admin can’t log into an org)

[2019-09-09 22:18] shamaljayalath commented on #77
Thanks, heap for the response and I can confirm that resolved the issue.I Noticed someone else also had similar issue in the past and but resolved later on so perhaps we can mention that in the documentation bit more clearly so people won't run into the same issue.

For everyone else's benifit :

Use env variables to auth to VCloud Director as administrator :

env_user: administrator
    env_passw

[2019-09-09 22:18] #77 closed

[2019-09-09 22:21] shamaljayalath commented on #78
thanks for the update.

I guess what's not very clear is the usage of env_variables to authenticate to the VCD. Use system user to auth as Administrator.

-----

- name: vCloudDirectorAnsible
  hosts: localhost
  environment:
    env_user: administrator
    env_password: xxxx
    env_host: mel-lab-vcdxxxxx
    env_org: System
    env_api_version: 32.0
    env_verify_ssl_certs: false

---

Keep up

[2019-09-09 22:21] #78 closed

[2019-09-09 22:23] shamaljayalath commented on #76
We installed Ansible tower on a RHEL8 system (uses python 3 by default) and it worked.

[2019-09-09 22:30] shamaljayalath opened #79 "RFE: Would it be possible to add capability to create portgroup,external network and VDC network"
Greetings,

Would it be possible to Add the following functionality to this module?

- First Create a Port Group at VCenter level using the module.
- Secondly, create an external network linked to the port group with network info.
- Lastly, create VDC org network and link to the external network.

Currently we have to use various other tooling to achive this but if this can be included in this mod

[2019-09-11 06:03] mukultaneja commented on #76
@shamaljayalath perfect! Please allow me to close this issue and feel free to reopen it if you find any concerns again in the future.

[2019-09-11 06:03] #76 closed

[2019-09-13 20:18] mukultaneja commented on #75
@monadhiman could you please close this issue?

[2019-09-13 20:20] mukultaneja opened #80 "support to create external networks in vcd"

[2019-09-14 07:58] mukultaneja commented on #80
I have added a new module to manage vCD External Network with commit 89798fb53e54a215676fc34fdf10501322251823

Tested with Pyvcloud Version -
Name: pyvcloud
Version: 20.1.0
Summary: VMware vCloud Director Python SDK
Home-page: https://github.com/vmware/pyvcloud
Author: Paco Gomez
Author-email: pgomez@vmware.com
License: Apache 2
Location: /Users/mtaneja/Work/pyenvs/python3.6/lib/python3.6/site-pac

[2019-09-14 08:01] mukultaneja commented on #79
@shamaljayalath I have added a new module to manage vCD External Networks  89798fb53e54a215676fc34fdf10501322251823

[2019-09-14 08:01] #80 closed

[2019-09-15 00:01] shamaljayalath commented on #79
Fantastic work @mukultaneja !

Just wondering if you are also thinking of working on a module for creating "ORG VDC network" which will link back to the External network? That will complete the whole network  requirements.

Thanks Again!

[2019-09-17 23:42] shamaljayalath opened #81 "RFE : Vmware Update Manager automation with Ansible"
Hi Guys,

I know this may not be the best space to raise this RFE for automating VMware Update Manager with Ansible but wondering if this is something you guys able to look in to? Quite similar to Vcloud Director process, VUM also involves lots of manual steps in order to update ESX farm via VUM so if we can drive that process via Ansible that would be fantastic!

If this is not the right forum, c

[2019-09-18 05:36] Akasurde commented on #81
@shamaljayalath Thanks for reporting this feature request.

[2019-09-18 06:15] alvarosola1 opened #82 "Add support to firewall rules"
Add support to firewall rules in gateway

[2019-09-18 06:34] shamaljayalath commented on #81
thanks for the ack!

Thought if we can automate something like this via Ansible as a starter,  would be a good starting point  👍 https://4sysops.com/archives/using-vmware-vsphere-update-manager-with-powercli/

Only prob I encountered was some "VMware.VumAutomation" module comes as a part of PowerCLI running on PowerShell core is not currently supported. But anyway Ill leave it at your capable hand

[2019-09-18 19:20] mukultaneja commented on #57
@carmineesposito73, thanks for raising the issue. I have added a patch 570dd4d4a723925fa89352f71202bf19bfc8bf16 to resolve the issue. Please take a look!

[2019-09-18 19:22] mukultaneja commented on #79
@shamaljayalath, we already had a module to manage the Org VDC network (isolated /direct/routed). I just made some structural modification in the module and added a new patch 570dd4d4a723925fa89352f71202bf19bfc8bf16. Please take a look!

[2019-09-18 19:27] mukultaneja commented on #79
@shamaljayalath, about feature request to create vCenter Port Groups through these modules, I do not think we can create vCenter Port groups using pyVcloud as of now.

[2019-09-18 19:28] #75 closed

[2019-09-18 19:30] mukultaneja commented on #56
@carmineesposito73, thanks for raising the issue. I have added a patch 570dd4d to resolve the issue. Please take a look and close the issue if you don't find any concerns with patch.

[2019-09-18 19:31] mukultaneja commented on #60
@tfiedler please close this issue if your query is resolved.

[2019-09-19 09:11] swerveshot commented on #51
Okay, so version [21.0.0 of pyvcloud](https://github.com/vmware/pyvcloud/releases/tag/21.0.0) has just shipped an it supposedly has a feature to create snapshots. As creating snapshots is only 1 part of the requested feature we'll have to wait a bit longer.

[2019-09-20 00:06] shamaljayalath commented on #79
That looks fantastic! Thanks for that! I will let you know when I get around to testing the module.

In terms of the port Groups, If that's an issue happy to use other Ansible module (vmware_dvs_portgroup) to create the port Group. I just thought I might suggest that for completeness so the whole use cases ( On-Boarding new tenant) can be achieved via the same module.

Anyways good work @mukultane

[2019-09-20 05:28] mukultaneja commented on #79
@shamaljayalath I have just started new projects to automate vCenter setup and management
https://github.com/mukultaneja/ansible-modules-vCenter-automation
https://github.com/mukultaneja/vCenter-automation-ansible-playbooks

Please take a look and support if you would like.
Please close this issue if you don't have any more concerns.

[2019-09-20 05:55] shamaljayalath commented on #79
Sounds good! Thanks for letting me know. I'll close this now.

[2019-09-20 05:55] #79 closed

[2019-09-23 18:59] mukultaneja commented on #57
@carmineesposito73 Please allow me to close this issue and feel free to reopen it if you find any concerns.

[2019-09-23 18:59] #57 closed

[2019-09-23 18:59] mukultaneja commented on #56
@carmineesposito73 Please allow me to close this issue and feel free to reopen it if you find any concerns.

[2019-09-23 18:59] #56 closed

[2019-09-23 19:03] mukultaneja commented on #54
Hello @mgaruccio, thanks for raising this issue and apologies for this much late reply. I have added a new patch https://github.com/vmware/ansible-module-vcloud-director/commit/c0c49f0f25a6ad49e4bbecd12e0d074696084527 to simplify edge gateway module and incorporate all three methods provided by pyvcloud. Please take a look and let me know if any issues you find with latest module.

[2019-09-23 19:05] #60 closed

[2019-09-23 19:07] mukultaneja commented on #51
Hello @swerveshot, Please give me some time to implement this feature request and if you have something to contribute feel free to do it.

[2019-09-23 20:18] swerveshot commented on #51
Hi @mukultaneja, unfortunately my coding skills are near non-existent. Otherwise I'd be happy to prepare a pull request. So I'm afraid all I can contribute is testing whatever is developed by yourself or others.

[2019-09-24 05:37] mukultaneja commented on #51
sure, no problem :)

[2019-09-24 05:51] mukultaneja opened #83 "Renaming Edge Gateway/Org VDC Network module"

[2019-09-24 07:41] carmineesposito73 commented on #56
it works.
thanks

[2019-09-24 07:42] carmineesposito73 commented on #57
it works, I've created an isolated network with no gateway_name as parameter

[2019-09-24 07:48] mukultaneja commented on #57
thanks to update @carmineesposito73

[2019-09-24 07:48] mukultaneja commented on #56
thanks to update @carmineesposito73

[2019-09-30 16:33] keganadler opened #84 "Missing LogicalNetworkLinkType"
When attempting to run the vcd_vapp_network module we receive the following error:

ansible/module_utils/basic.py\", line 401, in _remove_values_conditions\nTypeError: Value of unknown type: <class 'ValueError'>, 3 is not a valid LogicalNetworkLinkType\n

Related to pyvcloud/vcd/client.py
class LogicalNetworkLinkType(Enum):
    BRIDGED = 0
    INDEPENDENT = 1
    DLR_UPLINK = 2

Adding a UNKNOWN =

[2019-09-30 19:01] mukultaneja commented on #51
Hi @swerveshot, as requested I have added a new module to manage virtual machine snapshots through https://github.com/vmware/ansible-module-vcloud-director/commit/671edc4b6b4c8e1e4697a58324e21846e10d2fad. Please take a look and report any concerns you find.

[2019-09-30 19:04] #54 closed

[2019-09-30 19:22] #83 closed

[2019-10-09 05:38] monadhiman opened #85 "VM creation not taking the target VM name"
Hi,

I am creating a VM with vcd_vapp_vm and in error message getting this :

line 313, in get_vm\n  File \"/root/.local/lib/python3.6/site-packages/pyvcloud/vcd/vapp.py\", line 633, in get_vm\n    raise EntityNotFoundException('Can\\'t find VM \\'%s\\'' % vm_name)\npyvcloud.vcd.exceptions.EntityNotFoundException: Can't find VM 'new'\n\nDuring handling of the above exception, another exception occ

[2019-10-09 08:51] pilot513 opened #86 "How to use a cust_script ?"
If you use a file, where should it be?
How, for example, to customize a hostname deployed VM (the MV deployed from template vAPP)?

[2019-10-10 21:25] tomyerex opened #87 "vcd_vapp_vm_nic exception "no such child""
Attempting to create a vApp VM NIC (vcd_vapp_vm_nic) and the following error occurs:

ansible_vcd_vapp_vm_nic_payload_7yiefu8a/ansible_vcd_vapp_vm_nic_payload.zip/ansible/module_utils/basic.py\", line 401, in _remove_values_conditions\nTypeError: Value of unknown type: <class 'AttributeError'>, **no such child: {http://www.vmware.com/vcloud/v1.5}NetworkConnection\n", "module_stdout": "", "msg": "M

[2019-10-11 16:16] tomyerex commented on #87
During my own work, I found that if the VM already has a NIC defined, the same code will add another NIC without any error. The error only happens when the VM has no NICs at all.

[2019-10-11 19:10] mukultaneja commented on #85
@monadhiman, the module will find if any VM with the same name is already present or not. If not then it will add a new one within the provided Vapp.

[2019-10-11 21:05] tomyerex commented on #87
I've been reading about the NIC and learned there might be something called a primary NIC in vCloud Director, which might be part of the problem here.

[2019-10-15 09:41] monadhiman commented on #85
Hi  @mukultaneja
Thanks for your reply. I was not using the right attribute for the same.
Issue is fixed now, hence closing this one.

Thank You.

[2019-10-15 09:41] #85 closed

[2019-11-01 18:55] sgutermann commented on #51
@mukultaneja - thank you for your work. I had a breif look at your commit. The one thing I seem top be missing is "listing snapshots" or "getting details" on them.

I run over 100 VMs and funny enough there are only 10 of them I have snapshots from.

Why?

Well those 10 are "snowflake" Servers. Meaning I did not set them up myself or they are Windows and have had some work done on them by hand.

S

[2019-11-20 10:57] nirkal commented on #85
@monadhiman May you please write the attribute name here? I've a similar issue.

[2019-11-27 17:41] sgutermann commented on #30
@mukultaneja this issue can be closed. This seemed to be a strange provider problem. They ran some updates and now this modules works as expected.

[2019-11-27 17:41] #30 closed

[2019-11-27 17:48] sgutermann commented on #51
@mukultaneja sorry, finally got around to testing this.

1. for starters it does do a snapshot
2. however the module does not honor the "--check"
3. when run again it simply does a new snapshot (not idemopotent)

So basic functionallity is present, thank you. Expected ansible behavior missing.

[2019-11-29 14:42] alebeta90 commented on #85
Hi @monadhiman I'm facing the same issue. What to you mean with

It would be helpful to get a solutionn

all the best

[2019-12-02 13:23] monadhiman commented on #85
You need to give the hostname as well, Though it says optional but it seems to be a mandatory parameter. In my case, I missed that one and got the above error.

[2019-12-02 13:24] monadhiman commented on #85
You need to give the hostname as well, Though it says optional but it seems to be a mandatory parameter. In my case, I missed that one and got the above error.

[2019-12-19 12:26] Maunty opened #90 "Remove vm after power_off bug."
Hi!

I updated recently my old modules and found that my plays with remove action failed.
I dived in source code. And after some time found problem in undeploy function.

https://github.com/vmware/ansible-module-vcloud-director/blob/476c369134a567aa6fb9edcdd8fb93296e99fa35/modules/vcd_vapp_vm.py#L508-L523

My previous version with try except block and it work perfect, but seams that it wasnt idemp

[2019-12-20 22:39] rmharwood commented on #87
The problem here: when there is no NIC defined, the NetworkConnectionSection as returned by VDC contains no NetworkConnection objects: https://www.vmware.com/support/vcd/doc/rest-api-doc-1.5-html/types/NetworkConnectionSectionType.html

This piece of code is the culprit:
https://github.com/vmware/ansible-module-vcloud-director/blob/476c369134a567aa6fb9edcdd8fb93296e99fa35/modules/vcd_vapp_vm_nic.p

[2019-12-31 08:24] monadhiman commented on #87
Hi All,

Is there any solution of this error? Thanks for giving suggestions.

Thank You.

[2019-12-31 09:43] monadhiman commented on #87
Hi , So what could be the way out for this.?

[2019-12-31 11:23] monadhiman opened #92 "Poweroff operation does not fully poweroff the VM"
Hi Team,

I am using below module for doing power off a VM:

name: power off vapp vm
   vcd_vapp_vm:
	target_vm_name: "test_vapp"
	target_vapp: "web2"
	target_vdc: "test_vdc"
	operation: "poweroff"

But when I check Vm shows partially powered off state. which does not allow to delete VM in case I want to.

Could anyone please guide on this.
Thank You.

[2020-01-09 12:42] hussainaphroj opened #93 "unable to get authenticated."
Dear Team,

I am trying to setup it first time getting "Vm element not found" error, I tried with both python2 and python 3 and ansible 2.9.2 but still no luck.

vcd.yml
-------
---
- name: vCloudDirectorAnsible
  hosts: localhost
  environment:
    env_user: "testuser"
    env_password: "test@123"
    env_host: "https://1.2.3.4/"
    env_org: "system"
    env_api_version: 30.0
    env_verify_ssl_

[2020-01-13 12:17] Maunty commented on #92
@monadhiman  hi. Power off actually do what it must. The problem is that to remove vm u must to actually undeploy it. Power off from web interface != power of from api, it undeploys vm.
Btw, seems that undeploy action contains bug. Try to use code from pull request #94 because is still not merged. GL!

[2020-01-17 18:03] ndalbroi opened #96 "Can't add network to vapp with module vapp "Value of unknown type: <class 'AttributeError'>, no such child""
Good afternoon,

I am having an issue trying to add a network to a vapp while using the module vapp.  When I add the parameter "network" I get that error. My playbook looks like this:

- name: create vapp vm nic
  vcd_vapp_vm_nic:
     vm_name: "test"
     vapp: "test"
     vdc: "VDC"
     network: "NETWORK"
     ip_allocation_mode: "MANUAL"
     state: "present"
     nic_id: "0"
     ip_address:

[2020-01-17 19:57] rmharwood commented on #87
My team and I have coded a fix for this, but as it involves fundamental changes to how vcd_vapp_vm_nic (and possibly other modules) works, we are not ready to publish at this time. In the mean time, the only workaround at present is to build from a template that has a NIC in it alredy.

[2020-01-17 19:57] rmharwood commented on #96
This is exactly the same as issue #87

[2020-01-20 14:04] ndalbroi commented on #96
Clossing the issue.

[2020-01-20 14:04] #96 closed

[2020-01-21 13:35] crapulent commented on #93
Hi
today I've got the same error
and changing ansible interpreter to python3 helped me
(ansible installed from default packet on my version of ubuntu uses python2 by default, so I did
`pip3 install --user pyvcloud` and appended `interpreter_python = /usr/bin/python3` line to `ansible.cfg` from this repo)

What is the error when you are using python3? (I see python2 in your log output)

[2020-01-22 17:09] ndalbroi opened #97 "vappvmnic not creating additional network"
Dear Team,

I am having issues generating a second network with the role vappvmnic. When I'm tyring to add the network I get a message "the vcd entity  does not exist". Is there any solution or workaround to this?

Thanks in advance.

Regards

[2020-01-24 21:40] cbabinsack opened #98 "vcd_vdc_network - Cannot create Routed / Distributed network"
play:
[code]
[code]

Updated File: ~/ansible-module-vcloud-director/modules/vcd_vdc_network.py

Line 328:
[code]
Retry:
[code]
Confirmed from VCD.

[2020-02-05 19:31] mukultaneja commented on #98
@cbabinsack thanks for raising an issue. I just added a new patch to resolve the error.

[2020-02-06 18:10] mukultaneja commented on #97
@ndalbroi would be helpful if share more information on the issue like execution logs might help to understand more.

[2020-02-06 18:14] mukultaneja commented on #93
@hussainaphroj pre-requisites for using these ansible modules are VCD version >= 9.0 and python3. Please confirm if you are running these modules against the above pre-requisites.

[2020-02-06 19:26] mukultaneja commented on #92
Hi @Maunty, @monadhiman sorry for the delay! I got a little bit confused with undeploy_vm and powered_off VM Operations. Unfortunately, API calls are not that much clear but now I figured out a clear way to power_off a VM. Please take a look and let me know if you still face any issues.

@Maunty, thanks for raising and submitting a pull request. Again, please try out my latest patch!

[2020-02-06 19:36] mukultaneja commented on #73
@sgutermann would be helpful if you elaborate the feature a little.

[2020-02-09 20:31] Maunty commented on #92
@mukultaneja
Power off with previous version, module update and then delete action will give an error :)
In fact i liked more then power off did power off and undeploy did undeploy not only undeploy in all cases. But your way of solving issue is less confusing from web ui part of vcloud. Power off action from web ui undeploys vm like your module does.

[2020-02-10 09:02] Maunty commented on #92
@mukultaneja
I tested latest patch on 2 different vclouds. It works good.

[2020-02-10 09:03] #90 closed

[2020-02-11 18:32] mukultaneja commented on #92
cool @Maunty! Thanks for testing it out :)

[2020-02-13 15:26] IAmAnthem commented on #24
Is this still pending a merge?  I would like to use this functionality.  It aligns with my project.

[2020-02-18 14:35] IAmAnthem opened #99 "Error formatting data in vcd_vapp_vm_disk output"
Is there an issue in MB / GB conversion in the VirtualQuantity element returned in a READ operation?  Starting from a template VM with 2 disks, I added a disk.  The result when I READ the disks is illogical.

[code]

Format of myResult is thus, note the VirtualQuantity 100.0 GB ( I added a 100 MB disk)

[code]

[2020-02-18 19:16] mukultaneja commented on #99
@IAmAnthem, thanks for reporting a bug! I just added a patch to resolve the issue. Please pull the latest code.

[2020-02-18 22:49] IAmAnthem opened #100 "vcd_vapp_vm_disk - disk creation is not idempotent"
Thanks for quick response to issue 99!  I'm having a lot of fun with these modules.

VM Disk "present" should be idempotent if I specify a disk_name

[code]

This produces a new disk each time it is run.  the disk_name is not checked for existence, and ignored in the creation of a new disk.

So when I ran that play 3 times, I got 3 new disks added!

[2020-02-19 08:22] kaneda-fr commented on #100
Hi,

I made a patch to adress a few idem potency issues with this mobile, but changed job and had no longer access to VCD to perform testing.

If anyone is interested, I can probably find the code I wrote and you can pick it up from there.

It was running for our production deployments, so quite robust.

[2020-02-19 12:24] IAmAnthem commented on #100
Don't think I'm ready to try my hand at Python yet, hopefully someone with that skillset is interested!

[2020-02-19 16:26] IAmAnthem commented on #99
Fixed!

[2020-02-19 16:26] #99 closed

[2020-02-19 21:55] IAmAnthem opened #101 "vcd_vapp_vm cloned today - can't create VMs"
I ran a playbook that builds out 20 VMs this morning, the vm creation tasks all worked.
I cloned a new copy of the ansible module vcloud director and now I can't create VMs.

Even a simple EMPTY vm, not a clone template!
Given these are the minimum required values, this should work!

[code]

---

[code]

[2020-02-19 23:27] IAmAnthem commented on #101
Going to look at it again tomorrow. Really baffled.

[2020-02-20 17:36] rubenribeiro opened #102 "VM customization/recustomization"
Is there a way to force recustomization of a Virtual Machine with VM tools installed?

[2020-02-20 18:46] IAmAnthem commented on #101
pebcak.
Must have been syntax somewhere.

[2020-02-20 18:46] #101 closed

[2020-02-21 11:04] goagex opened #103 "vcd_vdc_network - Cannot create direct network"
role/play:
[code]
Output/failure:
[code]

[2020-02-21 11:35] goagex commented on #103
My bad, the problem was the variables.
The module is working as expected now.

[2020-02-21 11:35] #103 closed

[2020-02-25 18:17] IAmAnthem commented on #102
I also had this issue.  In abscence of updated modules from this project, I did it in vcd cli, also in an ansible task.

[code]

It is not graceful, but it is functional :)

[2020-02-27 11:44] surfer190 opened #104 "Allow External Network creation with Portgroup ID as well as Portgroup Name"
It is difficult to get the portgroup name from the NSX API.

I think it would be worthwhile to allow adding of portgroups using their id's.

[2020-03-03 18:17] mukultaneja opened #106 "vcd_vapp_vm_disk - update the module to add multiple disks with different sizes at a time."
- name: add a disk
  vcd_vapp_vm_disk:
    org: Acme
    vm_name: centos
    vapp: vApp_system
    vdc: ACME_PAYG
    disks:
           - controller: lsilogic
             size: 3
    state: present

[2020-03-03 18:19] mukultaneja commented on #100
@IAmAnthem, as of now we can not add disks "with names" to a VM using pyVcloud. We can just simply tell pyVcloud to add a new disk to a VM then a new disk will be added with a predefined name format. So while adding a disk using `vcd_vapp_vm_disk` module, it does not make much sense to provide `disk_name` as an argument.
Although I am working to introduce a new way to add multiple disks at one tim

[2020-03-03 18:26] mukultaneja commented on #104
@surfer190, can you not try to fetch port groups from vCenter REST APIs or MOB?

[2020-03-03 18:28] #92 closed

[2020-03-03 18:32] surfer190 commented on #104
@mukultaneja I can get a [list of networks from vcenter](https://vdc-download.vmware.com/vmwb-repository/dcr-public/423e512d-dda1-496f-9de3-851c28ca0814/0e3f6e0d-8d05-4f0c-887b-3d75d981bae5/VMware-vSphere-Automation-SDK-REST-6.7.0/docs/apidocs/operations/com/vmware/vcenter/network.list-operation.html) but then have to pattern match to find the one I need.

Is there a way to get the portgroup name

[2020-03-03 18:33] mukultaneja opened #107 "vCD Ansible module documentation"
For any successful product, documentation is a key item that helps the user to understand how to use the product better. We would really appreciate it if we can get help/suggestions on improving the documentation of vCD Ansible modules.

[2020-03-03 19:00] mukultaneja commented on #104
I think port groups and logical switches are two different things and what do you mean by pattern matching here as the API which you referred should give you the name of the port group.

[2020-03-04 02:56] IAmAnthem commented on #100
Fair enough, I don't really need a disk name, just the ability to specify a state and have the result not add disks each time the playbook is run.

[2020-03-11 08:55] stoffus commented on #102
I just created a PR for this: #109

[2020-03-13 12:29] surfer190 commented on #107
Could I suggest that we stop using jekyll for docs and rather just keep a number of markdown files in the docs folder.
Or perhaps using the wiki in this github repo.

I think people want an instantaneous way of viewing the docs.

[2020-03-18 00:55] #98 closed

[2020-03-18 00:55] #93 closed

[2020-03-26 11:36] 1230394 opened #111 "Can't create VM in VCD"
Hi,

we are not able to create a new vm via ansible in vcd.

ansible 2.9.4
python version = 3.7.6
env_api_version: 31.0 and 30.0 tried.

vcloud Director version: 9.5

If we use the role: vappvm
with following customized values

- name: create vapp vm "{{ vapp_vm_1 }}" from catalog
  no_log: False
  vcd_vapp_vm:
    target_vm_name: "dev-test-08"
    target_vapp: "test_vapp_1"
    source_vdc: "vdc_n

[2020-03-26 13:24] #111 closed

[2020-03-26 14:16] kaneda-fr commented on #111
Looking at the error trace, it looks like there is an issue with the storage profile name. Can you double check that storage "Perfomance" is available in that VDC.

[2020-04-17 12:34] monadhiman commented on #63
Hi Folks,

Do we have any work around for this issue so that we  can update Network adapter type of a NIC on a VM either during NIC addition or updation.

Thank You in advance.

[2020-04-18 17:55] inetman28 opened #112 "Enable system LDAP autorization for new organization"
Hi,

vCloudDirector can autorize user from LDAP. For example, when create new organization manually via GUI we can enable system LDAP autorization:
![image](https://user-images.githubusercontent.com/45913745/79645240-c35e7580-81b6-11ea-9118-4a226a9be927.png)

How I can enable system LDAP autorization using ansible module for vcd ? ;)

[2020-04-20 10:26] inetman28 opened #113 "External IP pool for edge"
Hi
I am sorry, but I can not understand how use ext_net_to_participated_subnet_with_ip_settings paramets. Do you can provide some examples?

For example, I have some network named SOME_EXT_NETWORK with pool: 10.30.0.0/16
I want to provide to each edges for 5 IP-addresses, for example:
- 10.30.0.1-10.30.0.5
- 10.30.0.6-10.30.10
- etc ...

How I should be write playbook to do it? Thanks you in advan

[2020-04-20 12:04] inetman28 commented on #113
I looked to pyvcloud documentation and understand structure ;)
        ext_net_to_subnet_with_ip_range: {
          'SOME_EXT_NETWORK_NAME': {
            '10.0.152.1/22': [
              "10.0.152.30-10.0.152.40"
            ]
          }
        }

You may close issue.

[2020-04-20 15:51] carmineesposito73 commented on #63
@monadhiman added the network adapter type in my repository, this feature has not been added to master repo

[2020-04-21 16:48] inetman28 commented on #112
anyone can help me? ;)

[2020-04-21 16:48] #113 closed

[2020-04-21 17:12] mukultaneja commented on #112
@inetman28, sure! give me some time to look into it.

[2020-04-22 07:42] monadhiman commented on #63
@carmineesposito73 Thanks for your reply on this.
Could you please provide the link of your repository, As I can see only the master branch here.

Thank You.

[2020-04-22 07:50] monadhiman commented on #63
@carmineesposito73 I am sorry, I got the path, I would test in my environment.
Thanks a lot for your help ! :)

[2020-04-22 10:30] carmineesposito73 commented on #63
@monadhiman, my repo is probably not updated with the master, I'm not using ansible for vcloud anymore

[2020-04-22 21:18] inetman28 opened #114 "Edge can not be updated"
Hi,

**DESCRIPTION:**

I offer you add new feature in your ansible-modules. It feature should be update EDGE ip-range pool.

**CAUSE**:

I want to add new ip-range for the edge but edge not changed.

For example, I already have a edge named like "EDGE-t.testov". For it EDGE ip-pool has been applied before: 10.0.0.99-10.0.0.99. Now, I want to update edge configuration to add new ip range 10.0.0.190

[2020-04-22 22:10] DNKolian commented on #112
Hello.
I have the same problem.  =)    We cannot specify LDAP settings .

[2020-04-23 12:38] monadhiman commented on #63
@carmineesposito73 sure, Thanks you.

[2020-04-24 12:45] inetman28 commented on #114
any ideas?

[2020-04-24 12:46] inetman28 commented on #112
any ideas?

[2020-04-25 17:04] mukultaneja commented on #107
thanks, @surfer190. I have updated the wiki of the repository. Please take a look and feel free to share your feedback!

[2020-04-25 17:04] #107 closed

[2020-04-29 12:52] #106 closed

[2020-05-04 13:41] mukultaneja commented on #114
@inetman28, as of now module does not cover the update of gateway IP ranges. So far we can only update gateway name, description, and HA state of the gateway using the module.

[2020-05-04 13:48] #102 closed

[2020-05-04 13:52] mukultaneja commented on #100
@IAmAnthem, I have updated the way https://github.com/vmware/ansible-module-vcloud-director/commit/51a7a9d29e46d38607e9af6d6a0449af6a74c800 to add new disks to a VM. Now in a new way, you can define multiple disks in one play, and the module will add all the disks automatically. You don't need to write multiple plays to add many disks.

[2020-05-04 13:53] mukultaneja commented on #104
@surfer190, were you able to resolve your issue?

[2020-05-04 14:03] surfer190 commented on #104
Yes. I did as you suggested.

[code]

Thanks.

[2020-05-04 14:08] inetman28 commented on #114
How I can do that?

[2020-05-04 14:21] mukultaneja commented on #114
you can update this issue only with your requirement regarding the edge gateway update process.

[2020-05-04 14:22] mukultaneja commented on #104
cool!

[2020-05-04 14:22] #104 closed

[2020-05-06 10:14] monadhiman commented on #63
@carmineesposito73 I tested vcd_vapp_vm_nic module in my environment and it worked fine with the other master files. Thank you.

@vmware This feature could be added the master branch as this is one of the basic requirements needed for windows VM build. In case of windows VM build it takes, E1000 adapter by default rather than vmxnet3. As tested vcd_vapp_vm_nic module from @carmineesposito73 reposi

[2020-05-08 14:05] #87 closed

[2020-05-08 14:09] mukultaneja commented on #87
@rmharwood, @monadhiman, Apologies for having a late patch to address this issue. I hope this patch will help to resolve issues working with VM NICs.

[2020-05-08 14:23] #100 closed

[2020-05-08 14:24] #97 closed

[2020-05-09 06:35] anudeep404 opened #115 "vCloud Director version: 10.0.0.14636284"
I've been able to use this on vCD 9.x, recently we have upgraded to vCloud Director version: 10.0.0.14636284
Would like to know if this is supported, ever since we upgraded, esxi deployment fails with the following error.

`failed: [localhost] (item={'name': 'esxi-01', 'mgmt_ip': '192.168.0.151', 'major_version': '67ga', 'patch_build': 11675023, 'cpu': 12, 'cores_per_cpu': 2, 'memory': 65536, 'clu

[2020-05-09 17:04] inetman28 commented on #112
hi?

[2020-05-09 17:06] inetman28 commented on #115
Could you please provide example of your playbook? I use vCD 10.1 and these modules work.

[2020-05-09 17:53] mukultaneja commented on #115
@anudeep404, the error says "Catalog item not found.". Could you please check if the catalog item present in VCD?

[2020-05-11 06:30] Vulpeculae opened #116 "Missing comma in "vcd_vapp_vm.py""
Hi,

I think there is a comma missing in line 228 in the file "modules/vcd_vapp_vm.py":
[code]

[2020-05-11 15:14] #84 closed

[2020-05-11 15:19] #116 closed

[2020-05-11 15:19] mukultaneja commented on #116
@Vulpeculae, thanks for raising an issue. I just added a new patch to resolve the issue.

[2020-05-13 10:22] inetman28 commented on #114
updated

[2020-05-27 13:59] Lupis619 commented on #51
So is there a way to revert multiple snapshots at once?  Or just 1 VM at a time?  It also seems that it won't take the * character.  For example VM names "W2K16-1" "W2K16-2" etc, 'W2K16*" will not work at all.  Will this be added later on too?

[2020-05-27 14:02] Lupis619 opened #117 "Ansible module vcloud director with Tower Inventory"
Will this module work for Ansible Tower?  How do i go about discovering the vCloud director in the inventory or in the Credentials?  Still sort of new to Tower so maybe I'm just over looking it but there seems to be little to no info on using this module with Tower.

[2020-05-28 17:56] carldubois opened #118 "**_AttributeError: 'NoneType' object has no attribute 'get' **fatal: [localhost]: FAILED! with host variable"
Getting an attribute error with hosts in playbook.
Can someone explain this behavior?

Thanks,

- name: vCD-Ansible
  hosts: localhost
  environment:
    env_user: duboisc
    env_password: ###############
    env_host: vcloud.wwtatc.local
    env_org: vcd-sand
    env_api_version: 30.0
    env_verify_ssl_certs: false
  roles:
  #    - catalogs
  #    - user
      - vapp
#      - vappvm
#      - v

[2020-05-29 14:16] mukultaneja commented on #118
@carldubois, I am maintaining a client `main.yml` which composed of Ansible Roles to consume these modules. The concept behind using `roles` in `main.yml` to separate out multiple plays such as create `catalog / vapp` to their own namespace and have a clean `main.yml` at last.
You can either use the existing `main.yml` and have respective roles with their own plays [for example](https://github.com

[2020-05-29 14:28] mukultaneja commented on #117
@Lupis619 I just look into this [demo](https://www.ansible.com/products/tower/setup) and I am sure you already have looked into it.
I guess inventory and credentials are ansible concepts and mostly machine-specific details. I suppose you would not need to do much stuff to discover vCloud director just specify details such as ip/user/password mention in your client like [here](https://github.com/vm

[2020-05-29 16:46] Lupis619 commented on #117
@mukultaneja Yes, I have.  I have setup it up the way I "think" it should but receive "The error was: ModuleNotFoundError: No module named 'pyvcloud' " So I'm guessing I set something up wrong since it works perfectly fine with Ansible cli.  I'm still new to Ansible Tower so it could be something else that I've setup wrong but just kind of hit a wall since there is no info on using this module wit

[2020-05-29 16:59] mukultaneja commented on #117
Just to confirm, have you installed pyvcloud? This is a python error and it generally comes when it did not find a module.

[2020-05-29 17:14] Lupis619 commented on #117
Yes I have it installed.  the playbook even works with Ansible cli.  just not Tower.  This is why I am confused.  Maybe I'm looking in the wrong place for the issue.

[2020-06-03 11:11] planeturban commented on #117
@Lupis619 You probably need to add a venv with pyvcloud for Tower.

https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html

[2020-06-07 20:30] IAmAnthem opened #119 "vcd_vapp_vm_nic UPDATE or ABSENT act unexpectedly."
Building up some demonstrations, I'm cloning a template VM and NOT setting a network at that time.  Turns out, if you do that, something in the code can't figure out what NIC you're trying to talk to.

I don't understand the error message I'm getting when I try to update a NIC.

Next I tried adding a NIC, and got back NIC 0 with no network, and NIC 1 with the network I wanted.

Thought I'd just ad

[2020-06-07 23:29] IAmAnthem commented on #119
Also fun, with ip address manual, you must set the IP to be inside the static pool range.
TIL!

[2020-06-08 12:26] IAmAnthem commented on #119
Maybe I don't understand at all - this continues to act strangely.
Opening additional issues to try to narrow scope.

[2020-06-08 12:30] IAmAnthem opened #120 "vcd_vapp_vm does not support ip_allocation_mode MANUAL and ip_address"
For an environment where a vars file is provided identifying VM name and required IP address, I'd like to just build my VMs with that information.  DHCP is NOT AVAILABLE.

[code]

Verbose error output:

[code]

[2020-06-09 20:12] Lupis619 commented on #117
@planeturban thank you.  I tried to create it, and think I did it right but selecting the Ansible Environment in the organization is missing.  I am using Anisble Tower V 3.7 with CentOS8.  Not sure what I'm missing.

[2020-06-10 00:09] IAmAnthem opened #121 "vcd_vapp_vm documented usage differs from code"
documentation example in module:
state = present absent
operation = poweron poweroff modifycpu modifymemory reloadvm list_disks list_nics

actual code review:
state = present absent update
operation = poweron poweroff reloadvm deploy undeploy list_disks list_nics

[2020-06-10 03:58] mukultaneja commented on #121
Please refer [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM) for module usage.

[2020-06-11 12:48] monadhiman opened #122 "Updated vcd_vapp_vm_nic.py, not taking state 'update' and adapter_type is a mandatory field"
Hi Team,

As I was testing the updated modules, I found vcd_vapp_vm_nic is not working as expected with update state and also it is giving error if I do not give adapter_type.

Please find below logs for reference:

- TypeError: Value of unknown type: <class 'AttributeError'>, 'VM' object has no attribute 'update_nic'

 - cvc-elt.3.1: Attribute 'http://www.w3.org/2001/XMLSchema-instance,nil' must

[2020-06-11 20:22] Lupis619 commented on #117
I was able to figure out all of my problems.  The venv that was created was not activated correctly with the API commands. Also apparently you cannot use the username/password in credentials and host info in inventory in the Ansible Tower.  It has to be in the playbook.

[2020-06-11 20:23] #117 closed

[2020-06-12 08:25] monadhiman opened #123 "These ansible modules make changes in check mode as well"
Hi Team,

As I ran a playbook for VM creation in check mode to check on the changes it will make but unexpectedly, it created a VM and made changes in check mode of ansible as well.

Ideally this should not be the case.

Thank You.

[2020-06-22 20:00] mukultaneja commented on #123
how are you calling the playbook?

[2020-06-22 20:07] mukultaneja commented on #122
Could you please share the playbook and complete error traceback?

[2020-06-24 07:59] monadhiman commented on #123
I am calling playbook from ansible command like with check mode ( -C option ).

Thank You.

[2020-06-24 08:57] monadhiman commented on #122
This is the part of playbook, I am getting error with:

 - name: update EIN NIC
    vcd_vapp_vm_nic:
        vm_name: "{{VmName}}"
        vapp: "{{VappName}}"
        vdc: "{{VdcName}}"
        nic_id: 0
        network: "{{Network[0].name}}"
        ip_allocation_mode: "MANUAL"
        ip_address: "{{Network[0].ipaddress}}"
        state: "update"

Below is the error code with update state:

fat

[2020-06-24 19:34] mukultaneja commented on #122
@monadhiman thanks for sharing the logs.
1. `TypeError: Value of unknown type: <class 'AttributeError'>, 'VM' object has no attribute 'update_nic'`
Please confirm if you are using the latest versions of pyvcloud and these modules as we dont use `nic_id` anymore to update nic cards. Please check that Modules wiki [here](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM-Nic)

[2020-06-24 21:15] #118 closed

[2020-06-24 21:18] mukultaneja commented on #63
@monadhiman please confirm if the current module fits with your requirement.

[2020-06-25 08:58] oxoljo opened #124 "Allow to create VM without template"
Is there a way using vcd_vapp_vm without template but an ISO file as permitted by vcloud director?

[2020-06-26 09:42] monadhiman commented on #122
Hello @mukultaneja,

=> I am using pyvcloud-20.1.0.

I saw the code was updated 2 days ago but that should not be the issue as this issue is with vcd_vapp_vm_nic which was updated 2 months back so I am using the latest version of this module.

=> I tried with adapter_type with state present and it works as expected with nic_ids.  It does not work with update state.

Thank you.

[2020-06-26 19:16] westsouthnight commented on #86
@pilot513 its simple, but you need to check your mounts, /var/run must to be not contain noexec option.

[2020-06-26 19:17] westsouthnight commented on #86
@pilot513 default behavior

[2020-06-27 17:39] #123 closed

[2020-06-27 17:40] mukultaneja commented on #123
@monadhiman I have added check mode support to the modules. Could you please verify if your issue has resolved now?
Thanks for raising the issue and feel free to reopen it!

[2020-06-27 17:47] mukultaneja commented on #120
@IAmAnthem I could not able to reproduce the error. Can you please try once again?
Although one addition I could see to assign an IP address to a VM when you want Ip Allocation Mode to be `MANUAL`.

[2020-06-27 18:04] mukultaneja commented on #122
I updated the module last month exact to be 8th May. And as I said I am not using nic_ids now in the module. Please take a look at [once](https://github.com/vmware/ansible-module-vcloud-director/blob/master/modules/vcd_vapp_vm_nic.py)

[2020-06-27 21:46] IAmAnthem commented on #119
converted environment to terraform

[2020-06-27 21:46] #119 closed

[2020-06-27 21:47] IAmAnthem commented on #120
We converted our infrastructure instantiation to terraform, I don't have the resources to rebuild at this time.  my apologies.

[2020-06-27 21:47] #120 closed

[2020-06-29 06:08] mukultaneja commented on #120
@IAmAnthem, I am afraid that you had to take this decision. Please let me know If I can help you to resolve your issues.

[2020-06-29 12:26] IAmAnthem commented on #120
@mukultaneja Thanks, no worries, in the long run my efforts are designed to be platform agnostic. Switching to terraform was probably inevitable as there is much broader coverage across virtualization solutions.

I'd say probably the most telling factor in the decision to switch now rather than later was the Terraform Providers for vCD start from a tenant's needs as their first bullet-point.  So f

[2020-06-30 00:27] Gocmk opened #125 "connecting to Vcloud Director help"
We are using Vcloud dirtector (with resticted access)
I have created a powershell script that connects to our VCloud and creates a
copy of a VM and then snapshots it.

We are starting to look at ansiable and I wish to do what I am doing with Powershell
but in ansible.

THe powershell code I use to connect to our Vcloud is

$vcd02="https://vcd02.XXXXX.XXXX.XXX.xx"
$orgArp="s02_I_a02"

Connect-CISer

[2020-07-02 11:25] monadhiman commented on #122
hello @mukultaneja ,

I downloaded the code again ( with check mode changes ) and tested to be sure of this issue.
Even if I dont use nic_ids parameter at all, I am getting the same error while updating the NIC.

TypeError: Value of unknown type: <class 'AttributeError'>, 'VM' object has no attribute 'update_nic'

Thank you.

[2020-07-07 19:03] mukultaneja commented on #125
Hi @Gocmk, these modules are specifically for vCloud Director. You don't need to login to vCenter but to vCloud Director.  Please refer to the modules wiki [here](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-Ansible-Modules) and to create a VM snapshot [here](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-VM-Snapshot)

[2020-07-07 19:31] mukultaneja commented on #122
@monadhiman, I am afraid that I am not able to reproduce the issue. For me, it is working perfectly. Below is the playbook which I am using and respective output to that. Please let me know If I am missing something which you are doing extra.

[code]

[code]

[2020-07-07 21:19] Ptomerty opened #127 "How can I instantiate a vApp from a template that has an internal vApp network?"
Crossposting from https://github.com/vmware/vcd-cli/issues/534.

When trying to use Ansible to accomplish my goal, changing parameters under `network:` has the same problem; I get an error message that ends with
[code]

Any ideas on how to fix this?

[2020-07-07 21:40] Ptomerty commented on #127
Closing until pyvcloud/vcd-cli responds.

[2020-07-07 21:40] #127 closed

[2020-07-09 10:27] monadhiman commented on #122
@mukultaneja Hi,

This is strange, even when I tried to execute above mentioned code , I am getting the same issue.
TypeError: Value of unknown type: <class 'AttributeError'>, 'VM' object has no attribute 'update_nic'

Moreover the issue indicates much on module side but same module is working fine for you. :|

Even I have updated pyvcloud to 22.0 not sure what is the issue in my case :(
Still che

[2020-07-18 03:15] Akasurde opened #129 "Migrate modules to Ansible Collection"
Hi Team,

Ansible now supports [collections](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html). It would be great if we can move this code to collection compatible structure and publish it using galaxy.ansible.com.

Let me know if you need my help in converting this repo to collection.

[2020-07-24 17:03] nsheraga opened #130 "VCD user creation error"
i am gettig below error, even i am providing right password:

TASK [vcd : VCD USER creation] **************************************************************************************************************************************************************************************************************
task path: /data01/ansible/playbooks/roles/vcd/tasks/main.yml:1
<127.0.0.1> ESTABLISH LOCAL CONNECTI

[2020-07-29 08:37] mukultaneja commented on #130
Hi @nsheraga, it is not able to login to VCD with the given credentials. Please share the VCD version you are trying to login.

[2020-07-29 12:08] nsheraga commented on #130
Hi @mukultaneja VCD version 10.1, same password i used for org and provider both and it worked

[2020-08-04 17:43] nsheraga commented on #130
any help ?

[2020-08-04 17:43] nsheraga commented on #130
any help ?

[2020-08-04 17:50] mukultaneja commented on #130
@nsheraga I am sorry to miss giving the reply. Which org do you want to create a user for?

[2020-08-04 18:08] nsheraga commented on #130
my org is vcd_org: nalab_org, i want create this org

[2020-08-04 18:14] mukultaneja commented on #130
@nsheraga ok! there is a mistake I could see in `vcd_user` wiki documentation. I will update the docs but as of now please use below 3 properties to add a new user in vcd.
[code]

`org` and `user` both can be created while logging in `system` org.

[2020-08-04 19:28] nsheraga commented on #130
@mukultaneja i got same error, plase find my var file and playbook .. did i miss something ?

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_vcd_user_payload_2udrwuj_/ansible_vcd_user_payload.zip/ansible/module_utils/vcd.py", line 45, in login
  File "/usr/local/lib/python3.6/site-packages/pyvcloud/vcd/client.py", line 986, in set_credentials
    raise VcdException(

[2020-08-04 19:32] mukultaneja commented on #130
@nsheraga, you are not missing anything. Please confirm if you are able to login using `administrator` as a user name with `{{ vcd_password }}` to org `system` from the web interface of VCD.

[2020-08-04 19:38] nsheraga commented on #130
i am not seeing system as org:

i have logged is tenant using below URL

https://10.10.10.19/tenant/nalab_org/vdcs using same user name

and i will login administrator using below link:

https://10.10.10.19/provider/

![image](https://user-images.githubusercontent.com/53913231/89337057-f5112480-d65f-11ea-8798-0e880ea3cecc.png)

[2020-08-04 19:39] nsheraga commented on #130
![image](https://user-images.githubusercontent.com/53913231/89337255-46b9af00-d660-11ea-893b-c66036721e83.png)

[2020-08-04 19:50] mukultaneja commented on #130
@nsheraga, Could you please try with `34.0` instead of `34` once? `34.0` is the actual `Pyvcloud API` version and they are expecting the same value format from the user.

[2020-08-04 19:53] mukultaneja commented on #130
@nsheraga, when you try login into `/provider` then VCD assigns `system` as a by default org which won't be listed under `Organizations`.

[2020-08-04 20:00] nsheraga commented on #130
your great!!!! its worked after using version 34.0. thank you so much fro your help.

[2020-08-04 20:00] nsheraga commented on #130
[WARNING]: The value 34.0 (type float) in a string field was converted to '34.0' (type string). If this does not look like what you expect, quote the entire value to ensure it does not change.
[WARNING]: The value 0 (type int) in a string field was converted to '0' (type string). If this does not look like what you expect, quote the entire value to ensure it does not change.
changed: [localhost] =

[2020-08-05 10:22] #130 closed

[2020-08-05 10:22] #125 closed

[2020-08-06 19:31] #82 closed

[2020-08-06 20:10] mukultaneja commented on #129
@Akasurde thanks for the suggestion. We can look forward to it in the near future.

[2020-08-06 20:12] mukultaneja commented on #122
@monadhiman, are you able to resolve the issue yet?

[2020-08-06 20:12] #115 closed

[2020-08-06 20:14] mukultaneja commented on #115
@anudeep404, Please refer the [docs](https://github.com/vmware/ansible-module-vcloud-director/wiki) for module usage and feel free to reopen the issue if you need any help on this.

[2020-08-06 20:19] mukultaneja commented on #73
@sgutermann, I believe Pyvcloud has only one single approach so far to add VMS into an existing vApp. I think it would be better to wait for them to implement this functionality.

[2020-08-06 20:21] mukultaneja commented on #74
@alvarosola1 Apologies for the late reply but are you still struggling with this issue?

[2020-08-18 18:57] sgutermann opened #132 "poweroff or undeploy not completely turning off vcd_vapp"
There was an earlier issue for the vcd_vapp_vm which seemed to be handled. Looks like this was implemented for vcd_vapp as well, but not funtioning there.

 - name: power off vapp
   vcd_vapp:
    vapp_name: "test_vapp"
    vdc: "test_vdc"
    operation: "poweroff"

poweroff simply turns the whole vapp off as well as the vms inside

I have no idea what "undeploy" does as it simply states that the

[2020-08-18 19:24] sgutermann commented on #132
I am not sure if I am clear on what I am looking for. Just to be sure. The end result that I am looking for is that the whole vapp and vms are turned off for real.

Currently all I can achive is a "stopped" status or a "powered off" status which is not totally off as I can still go to the v-cloud menu and then "tunroff" the vapp.

Now you ask "who cares", well if your provider charges you for some

[2020-08-18 19:56] sgutermann commented on #132
Sorry if this seems like spamming, But this is not leeting go of me. I just installed and tested the VM Ware vcd-cli just to see if they had the same problem. Well they do not, but they are confusing in terms of terminology, at least to me.

so if you do:

vcd vapp power-off VAPPNAME

then this does a power-off just the way our ansible module does here, in other words it turns it off but not compl

[2020-08-19 20:12] #132 closed

[2020-08-19 20:13] mukultaneja commented on #132
@sgutermann thanks for raising an issue. I just added a patch. Please try it once and feel free to open if you face any issues.

[2020-08-20 19:47] #114 closed

[2020-08-20 19:50] mukultaneja commented on #114
@inetman28, I just added a patch to avail an operation on the edge gateway to update subnet ip pool ranges. Please try it out and feel free to open the issue again. I have also added a [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-Edge-Gateway) for the edge gateway module.

[2020-08-24 20:01] mukultaneja commented on #51
@sgutermann @Lupis619 Apologies for the late reply. I just added a patch to create/list multiple snapshots for VMs. Please try it out once.

[2020-08-27 11:01] robleady opened #133 "Setting vApp sharing mode?"
By default it appears that vApps created using vcd_vapp are private to the user that creates them.

I can use the vCloud Director GUI to modify the vApp after creation so that it's shared with everyone in the organisation, but I can't see any way of setting the sharing mode using the ansible modules.

Is it possible?

[2020-08-30 13:55] sgutermann commented on #73
Thank you for checking. Now that you mention it I will have a look at pyvcloud to see if they got this on their path.

[2020-08-30 13:56] sgutermann commented on #48
Was this ever looked into or am I and this issue simply out of date?

[2020-08-30 16:51] sgutermann commented on #51
@mukultaneja thank you. Listing seems to work now. @Lupis619 reverting or making multiple snapshots seems to be rather the playbook you wrote. Passing a group of names seems to work for me.

[2020-08-30 16:52] sgutermann commented on #132
@mukultaneja, thank you, works like a charm !!

[2020-08-31 16:52] mukultaneja commented on #51
@sgutermann @Lupis619 If you guys need any help with playbook writing, please refer to the sample playbook for the snapshot module [here](https://github.com/vmware/ansible-module-vcloud-director/blob/master/roles/vcd_vapp_vm_snapshot/tasks/main.yml). I keep these sample playbooks here so that user won't get hesitant and feel easy to use these modules. I am maintaining [wiki](https://github.com/vmw

[2020-08-31 16:52] mukultaneja commented on #73
sure. I am closing this issue then and feel free to open if you find some other insight.

[2020-08-31 16:52] #73 closed

[2020-08-31 16:55] mukultaneja commented on #133
Hey @robleady, sure it is possible. Let me add this for you in the module. Stay tuned 👍

[2020-08-31 20:27] mukultaneja commented on #133
@robleady I have added a patch to provide operations to share/unshare a vApp across org. I have also added this operation in [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp). Please try it out.

[2020-09-02 08:07] robleady commented on #133
Thanks for the quick response @mukultaneja
I've done a couple of quick tests and it appears to be working as expected :-)

[2020-09-02 08:07] #133 closed

[2020-09-08 19:48] #51 closed

[2020-09-10 06:19] larsxsamuelsson opened #134 "vcd_vapp_vm fails on create vm from template"
Been facing a problem creating VMs from templates with the vcd_vapp_vm module.
Everything is run from a Fedora Core 32 machine with python 3.8.
Have had success with multiple other of the vcloud modules on this machine, but at least this one is creating headaches :-)

The full traceback is:
Traceback (most recent call last):
  File "/home/lars/.ansible/tmp/ansible-tmp-1599660810.4829195-47537-1274

[2020-09-15 22:27] danielc256 commented on #111
Hello,

Someone with this same problem? I'm facing the same issue, I try to create the VM and it says that the VM was not found, but it should create and not find if the name exists or not!

My role is exactly the same used above, however I'm not inputing the storage profile name, it's not required

[2020-09-15 22:50] danielc256 opened #135 ""Can't Find VM" instead of create a new one on vcd_vapp_vm"
Hello,

I'm facing a issue, I saw a previous post about it but it didn't worked for me.

- name: Create VM on SAT environment
  no_log: False
  vcd_vapp_vm:
    target_vm_name: "{{ item.vm_name }}"
    target_vapp: "{{ vapp }}"
    target_vdc: "{{ vdc }}"
    source_catalog_name: "{{ catalog }}"
    source_template_name: "{{ template_cicd }}"
    state: "present"
  with_items: "{{ cicd_vm }}"

Out

[2020-09-17 09:02] danielc256 opened #136 "Adding more than 1 Org Network to a vAPP"
I'm facing a problem to add 2 or more networks to a single vapp, see my ansible task:

- name: Create FRONTEND vAPP
  vcd_vapp:
    vapp_name: "{{ vapp_frontend }}"
    vdc: "{{ virtual_datacenter }}"
    network: "{{ item.value }}"
    power_on: False
    state: "present"
  with_dict: "{{ frontend_network }}"

It reads normally, however it adds just the first 1, and at the time to add the second

[2020-09-17 10:50] danielc256 commented on #85
Someone had an update here?

I'm facing the same issue, but even when I put the hostname (Even doesn't making sense work just because of that), it's not working.

Instead of creating a new VM, it's trying to search one e return with the error message: "Can't find VM"

[2020-09-17 13:24] mukultaneja commented on #134
@larsxsamuelsson what is the VCD version?

[2020-09-17 13:33] mukultaneja commented on #135
@danielc256 from the playbook I could see you are missing the `source_vm_name` argument. Please try with this argument once and share the whole traceback log which would help to understand what exact error it is throwing. `Can't find VM` exception is coming because the module tries to search first if any VM with the same name is present in the vApp and if it did not get then it tries to create it.

[2020-09-17 13:37] mukultaneja commented on #136
@danielc256 Please use [vcd_vapp_network](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-Network) module to add networks to a vApp. The module `vcd_vapp` is just to create a new vApp in VCD. At first run you have already created it that is why you are getting this warning while running on second time.

[2020-09-17 13:41] larsxsamuelsson commented on #134
@mukultaneja 10.1.2 , i thought it was contained in the 10.1. But now that i try it towards our 10.0.0.2 it seems to work fine, so it seems to be 10.1.2 that is the issue.

[2020-09-17 18:43] danielc256 commented on #135
Hello, you're right

The playbook that resolved my problem:

- name: Create first VM
  vcd_vapp_vm:
    target_vm_name: "{{ item.vm_name }}"
    target_vapp: "{{ vapp_midtier }}"
    source_vdc: "{{ virtual_datacenter }}"
    target_vdc: "{{ virtual_datacenter }}"
    source_catalog_name: "{{ catalog }}"
    source_template_name: "{{ cicd_template }}"
    source_vm_name: "{{ cicd_template }}"

[2020-09-17 18:43] #135 closed

[2020-09-17 18:47] danielc256 commented on #136
Hello,

I'm using this module because vcd_vapp_network didn't work for me.

Notice that I use OrgVDC Network, and vCloud can just find it when I use vcd_app module

Always when I try to add a OrgVDC Network it doesn't work on vcd_app_network module

[2020-09-17 19:02] danielc256 commented on #135
Note: It will give a error, it pass if you put a network parameter on it, because of that I put the ignore_errors module to go ahead even with the error, the machine will be created anyway

[2020-09-17 19:08] danielc256 opened #137 "vcd_vapp_vm_disk, not creating disk"
Hello,

I'm trying to add a new disk in a VM, see my task below:

![image](https://user-images.githubusercontent.com/67828229/93724945-35dae380-fba3-11ea-93b5-b1fb4f644bf5.png)

Traceback:
![image](https://user-images.githubusercontent.com/67828229/93515965-4e3bcb80-f921-11ea-9dfa-e49478edeade.png)

Note: Sorry for the print, and the bad quality, I'm in a datacenter with very limited access.
Note2

[2020-09-17 19:13] danielc256 commented on #136
Notice that my case is not to create or update a Network, but to add an already existing one.

I tried in several ways, but I just can add through vcd_vapp module, and as you saw on images below it just add 1 and the other it perform the idempotency.

See that on Wiki there is no an example to this situation: https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-Network

[2020-09-17 19:15] danielc256 commented on #136
It would be the equivalent to add like this on GUI:

![image](https://user-images.githubusercontent.com/67828229/93516765-68c27480-f922-11ea-8949-773ccd104246.png)

See that vcd_vapp_network only support work on right option "vAPP Network"

[2020-09-20 15:13] danielc256 opened #138 "vcd_vapp_vm_nic, not updating NIC"
Hello, I have 2 situations

1.
when I try to update my first NIC (created using the parameter network with vcd_vapp_vm module) I got the following message:

![image](https://user-images.githubusercontent.com/67828229/93714543-4f583d00-fb5b-11ea-9a95-ae5576243c33.png)

Note: Sorry for the image's quality, I'm in a datacenter with very limited access.

My playbook used:
![image](https://user-images.

[2020-09-25 09:18] 387119 commented on #137
same issue

[2020-10-07 19:31] mukultaneja commented on #137
@387119 Please use [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM-Disk) for module usage.. I am going to remove the `doc` directory soon and continue using the wiki.

@danielc256 The code is working fine with VCD 10.0. please give me a day or two to validate it on VCD 9.7 as well.

[2020-10-08 08:09] monadhiman commented on #122
Hi @mukultaneja,  No, this new module file did not work for me,  I made some changes in the old module file and using the same to have an error free action and that is working fine for me.

Thank You.

[2020-10-10 10:13] mukultaneja commented on #137
@387119 @danielc256, Apologies to reply late. I looked into the issue and the current module code is working fine as expected on VCD 9.7 with API Version 30.0, 31.0, 32.0. This issue might be coming because you guys are using Pyvcloud release [22.0.1](https://github.com/vmware/pyvcloud/releases/tag/22.0.1) which was released on 1 Apr 2020 whereas I updated the existing  [add_disk_to_vm](https://gi

[2020-10-10 11:00] danielc256 commented on #137
Hello @mukultaneja, I can update.

But I see that on pypi.org the latest version of pyvcloud is 22.0.1, what's this new version you're saying and how to perform the update?

[2020-10-10 12:04] mukultaneja commented on #136
@danielc256, as I could see in the `vcd_vapp_network`'s playbook I think you are missing the `network_cidr ` attribute. Please try adding the `network_cidr ` attribute once. You can follow the [wiki ](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-Network)to add new VAPP network

[2020-10-10 12:09] mukultaneja commented on #134
@larsxsamuelsson sure, please share the playbook once which you are using to create a VM.

[2020-10-12 09:51] mukultaneja commented on #137
@danielc256, Please try to install a dev version of Pyvcloud using `pip install pyvcloud==22.0.2.dev32` and let me know if it works well.

[2020-10-13 10:57] surfer190 opened #139 "Role 'Organization Administrator' does not exist."
When creating a user with the `Organization Administrator` role I get the following error:

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: Value of unknown type: <class 'pyvcloud.vcd.exceptions.EntityNotFoundException'>, Role 'Organization Administrator' does not exist.`

Note that this only happens on lab infrastructure. It works on ot

[2020-10-13 13:21] 387119 commented on #137
@mukultaneja Thanks for solution, unfotunatelly I cannot confirm 100% that it`s working, but I assume it is,

due to I have old (27.0) version of vcloud director, and this API version does not provide feature to add disks.

error I receiving now.
TypeError: Value of unknown type: <class 'pyvcloud.vcd.exceptions.BadRequestException'>, Status code: 400/BAD_REQUEST, Bad request  - Unexpected JAXB Exc

[2020-10-13 19:32] #42 closed

[2020-10-13 19:43] mukultaneja commented on #139
@surfer190 is this role present inside `STP001`

[2020-10-13 19:52] mukultaneja commented on #137
@387119 I am not sure about this error but I can add a new disk to a VM deployed in VCD 9.7 with below configs,

Pyvcloud == 22.0.1.dev31
VCD API Version == 27.0

<img width="1589" alt="Screenshot 2020-10-14 at 1 18 45 AM" src="https://user-images.githubusercontent.com/16931639/95909132-997bb980-0dbb-11eb-8506-33585bcaf94e.png">

[2020-10-13 19:53] mukultaneja commented on #138
@danielc256, Please try to install a dev version of Pyvcloud using pip install pyvcloud==22.0.2.dev32 and let me know if it works well.

[2020-10-13 19:56] #74 closed

[2020-10-13 19:56] mukultaneja commented on #64
@kaneda-fr @wilmardo @carmineesposito73 are we still seeing this issue?

[2020-10-13 19:57] #63 closed

[2020-10-13 20:01] mukultaneja commented on #48
@sgutermann are you able to resolve this issue? I guess we already have this parameter in [place](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM-Nic)

[2020-10-13 20:02] mukultaneja commented on #25
@carmineesposito73 do you have any update on this issue?

[2020-10-13 20:07] mukultaneja commented on #86
@pilot513 are we good to close this issue?

[2020-10-13 20:22] surfer190 commented on #139
Yes @mukultaneja it is present.

If I post the user xml payload with the to role as the uuid for `Organization Administrator` to `/api/admin/org/{ org_uuid}/users` it creates the user.

As I said it works on one environment but not another...so perhaps something weird going on.

[2020-10-14 07:32] pilot513 commented on #86
Yes. Ok.

[2020-10-14 08:56] carmineesposito73 commented on #64
@mukultaneja I do not use this module anymore

[2020-10-14 08:58] carmineesposito73 commented on #25
@mukultaneja I do not use this module anymore

[2020-10-14 09:17] wilmardo commented on #64
@mukultaneja Same here, I haven't used this module since last year.

This comment explains my findings at that point:
https://github.com/ansible/ansible/issues/38605#issuecomment-459739899

[2020-10-14 13:19] larsxsamuelsson commented on #134
Sometimes, all you need is someone to ask you to give up your configs.. Then you are forced to review them.. and realized that you yourself were the culprit :P
Will close this one now since I had a type-o that i did not see for too many weeks.

[2020-10-14 13:19] #134 closed

[2020-10-14 19:11] kaneda-fr commented on #64
I'm no longer working on this, so can't say.

[2020-10-14 20:28] mukultaneja commented on #64
sure then let me close this issue but feel free to open it again if you need to.

[2020-10-14 20:28] #64 closed

[2020-10-15 06:49] 387119 commented on #137
@mukultaneja could you please share your ansible code for task "vcd_vapp_vm_disk : add a disk"

[2020-10-15 06:54] 387119 commented on #137
I`ve used next syntax
[code]

[2020-10-15 07:01] 387119 commented on #137
so finally my issue was with syntax, next code works for me

[code]
[code]

[2020-10-15 07:54] 387119 opened #140 "Add additional VM disk if not exist"
https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM-Disk

is there a simple way to add additional drive only in case it does not exist.

example: I have only /dev/sda in template, I need /dev/sdb, as per instruction I create additional drive using next code
[code]

this code will add additional drive sdb, sdc, sdd, ... each execution,

probably "name" can help me, but I don`t

[2020-10-15 08:05] 387119 commented on #140
next block works fine, but finally do the same, create additional drive each execution
[code]
I`ve tried names: 'Hard disk 1', 'Disk 1', no luck
![image](https://user-images.githubusercontent.com/44392341/96094708-5a8e5680-0ed6-11eb-9c71-fee8925e03be.png)

[2020-10-19 19:59] mukultaneja commented on #140
@387119, We used to have this earlier in the modules but then we figured out VCD has a limitation on Disk or VM NICs name format and if it would be very hard for a user to keep track of all the earlier added disk names when it tries to add a new one. If your requirement is not to add any more new disk while keeping the play alive in `yml` file, we have the `check_support` feature enabled in the mo

[2020-10-19 20:01] mukultaneja commented on #139
@surfer190 If it is working in one env but the other one then I would suggest checking the environment. Please make sure you have the compatible versions of VCD & Pyvcloud APIs

[2020-10-19 20:02] mukultaneja commented on #137
@danielc256 are you able to resolve the issue?

[2020-10-19 20:02] mukultaneja commented on #138
@danielc256 are you able to resolve the issue?

[2020-10-19 20:08] mukultaneja commented on #122
Sure, please close it and feel free to reopen it if you find any issues again.

[2020-10-19 20:09] mukultaneja commented on #48
@sgutermann, I am closing this issue as of now. Please feel free to open it if you find any issues again.

[2020-10-19 20:09] #48 closed

[2020-10-19 20:09] #25 closed

[2020-10-19 20:10] mukultaneja commented on #136
@danielc256, are you able to resolve this issue?

[2020-10-21 15:03] daviarpfc commented on #137
Dear all

I am trying to run the task on an existing VM:

[code]

I have the same problem that danielc256 reported with version 22.0.1 of pyvcloud.

Because pyvcloud==21.0.1.dev31 cannot be found anymore in the repos, I have tried the pyvcloud version suggested by 387119.

I have upgraded pyvcloud to 22.0.2.devdev32. The disk creation task fails with the next error:

[code]

With pycloud 23.0.0, t

[2020-10-26 08:37] 387119 commented on #140
even with VCD limitations, I think would be good to have uniq name for disk identification, that playbook can create new drive only once for VM,

I cannot find this feature either in main repository  or in wiki, if you are speaking about already existing feature, could you please point me, how to use it.

[2020-10-29 21:18] sgutermann opened #141 "vcd_vapp_network - wrong dokumentation in module"
ansible-doc -t module vcd_vapp_network

gives description of the parameters, however the sample at the end is for vcd_vapp_vm

[2020-10-29 21:22] sgutermann commented on #48
Yes, sorry did not get around to testing till now. But yes adapter type seems to be usable.

[2020-10-29 21:23] sgutermann commented on #51
Thanks does for me what it was supposed to.

[2020-10-29 23:03] sgutermann commented on #122
@mukultaneja ...having same problem. If I do your sample all works fine. As there is nothing to update anyway. As soon as you add a second network and then want to update / add a second nic to the VM there seems to be no longer a way.

Old Module and old way still work fine.

What I am trying currently is:

      - name: VMWARE_CLOUDDIRECTOR_CREATE_VM | Create vapp vm secondary nic
        vcd_vap

[2020-10-29 23:07] sgutermann commented on #122
'VM' object has no attribute 'update_nic'\n

[2020-10-29 23:21] sgutermann opened #142 "vcd_vapp_vm last module update broke list_nics"
- name: list vapp vm nics
   vcd_vapp_vm:
    target_vm_name: "test_vm"
    target_vapp: "web2"
    target_vdc: "test_vdc"
    operation: "list_nics"

Sample from Doku produces no longer a result but since update only an error.

'VM' object has no attribute 'list_nics'

[2020-10-29 23:41] sgutermann commented on #122
OMG - forget my two postings. This is really strange. Everytime I update, I simply copy the code into my plugins folder. This now produces strange errors.

After completely deleting everything under plugins and copy freshly the disappeared.

[2020-10-29 23:42] #142 closed

[2020-10-29 23:42] sgutermann commented on #142
Mixed up Modules on my part.

[2020-10-30 00:00] sgutermann opened #143 "need help adding second vapp network"
With vcd_vapp I can define the initial VDC Network I want to attach to the Vapp.

How do I add a second (third) existing VDC Network to the Vapp.

I used to be able to this with vcd_vapp_network. Now this is no longer working. I tried to adjust my playbook to the new parameters but reading and reading the documentation again it seems like all is now geared in terms of creating and changeing a Vapp

[2020-11-03 17:57] #141 closed

[2020-11-03 18:06] mukultaneja commented on #140
You can update your playbook like [this](https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html) to run in `check_mode`.

[2020-11-03 19:23] mukultaneja commented on #139
@surfer190 are we good on this issue?

[2020-11-03 19:29] mukultaneja commented on #137
@daviarpfc, in your case it is failing due to no disk is attached to the VM. `add_disk_to_vm` expects at least one disk to be attached to a VM. The implementation takes that attached disk as a reference and updates it with the provided attribute.

[2020-11-03 19:33] mukultaneja commented on #143
@sgutermann, do you want to attach an org VDC network to a VAPP?

[2020-11-03 20:49] surfer190 commented on #139
@mukultaneja I will update this by Friday end of day. Either comment or close.

[2020-11-05 19:30] rbuffi opened #144 "IS this version VCD 10.2 / NSXT compatible"
When I try to create firewall rules on a NSXT T1 edge gateway I receive a 400 error. IS nsxt supported with this Ansible modules?

[2020-11-06 10:27] surfer190 commented on #139
@mukultaneja the issue seems to be I was using the incorrect provider VDC. I am closing this issue.

[2020-11-06 10:27] #139 closed

[2020-11-06 10:33] surfer190 opened #145 "How to update VDC memory, CPU and storage?"
Is there a way to update the VDC resources using this module?

I tested the `vcd_org_vdc` task with `state: "update"` and it seems you can only update the status.
I tried to use the `state: "create"` and it says `[WARNING]:  VDC xxxx is already present.`

[2020-11-11 09:36] sgutermann commented on #143
@mukultaneja yes. With the unchanged modules in September this was easy. Just add another. With the update I can not add multiple VDC Networks at once or manage to add an extra one after creation.

[2020-11-11 17:09] sgutermann commented on #136
Reads similar or same as my issue. I copied the playbook above and added the cidr to it. No go.

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_vcd_vapp_network_payload_ye3d232c/ansible_vcd_vapp_network_payload.zip/ansible/modules/vcd_vapp_network.py", line 226, in add_network
  File "/tmp/ansible_vcd_vapp_network_payload_ye3d232c/ansible_vcd_vapp_network_payload.zi

[2020-11-11 20:15] sgutermann commented on #143
@mukultaneja looks like the ame problem as mentioned in issue 136.

[2020-11-11 20:17] danielc256 commented on #137
I'm not able to test with this version of Python now, but I will give the output as soon as possible.

Meanwhile, I got another Python's module to use if anyone have this same problem.

https://vmware.github.io/vcd-cli/

[2020-11-11 20:18] danielc256 commented on #136
I'm not able to test with this version of Python now, but I will give the output as soon as possible.

Meanwhile, I got another Python's module to use if anyone have this same problem.

https://vmware.github.io/vcd-cli/

My code for that:

- name: Log on vCloud API through vcd-cli
  shell: "vcd login {{ vcd_host }} {{ vcd_organization }} {{ vcd_user }} --password {{ vcd_password }} -iw --version {

[2020-11-11 20:26] danielc256 commented on #138
Yes, actually I was making a mistage.

If anyone have the error above, you must remove the network adapter of your template and create a new VM based on it.

In my case, it returns "Network NAT does not exist", it happens because my template was created out of vCloud and imported to it, maybe because of that the conflit.

[2020-11-11 20:27] #138 closed

[2020-11-12 09:07] sgutermann commented on #136
@danielc256 thank you. That is just a CLI Interface to the same API which the Ansible Modules here are using as well.

@mukultaneja just needs to fix the module so it works as it did in the past and all is well.

:)

[2020-11-12 18:56] mukultaneja commented on #136
@danielc256 @sgutermann, do you want to attach a new vApp network or an Org VDC network to a vApp?

[2020-11-12 19:01] mukultaneja commented on #137
@danielc256, these ansible modules are an extensive version of vcd-cli.

[2020-11-12 20:12] sgutermann commented on #136
@mukultaneja another already existing Org VDC Net.

[2020-11-12 20:20] mukultaneja commented on #136
@sgutermann @danielc256, I have added two operations `add_org_network` and `delete_org_network` to an existing vApp module. Please take a look at my latest commit and try once.

[2020-11-12 20:26] mukultaneja commented on #136
I have updated the [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp) as well with new operations.

[2020-11-12 21:05] sgutermann commented on #136
Thank you, hoever the module documentation does not seem quite right.

ansible-doc -t module vcd_vapp
ERROR! module vcd_vapp missing documentation (or could not parse documentation): while scanning a simple key
  in "<unicode string>", line 118, column 5
could not find expected ':'
  in "<unicode string>", line 119, column 20

[2020-11-12 21:27] sgutermann commented on #136
@mukultaneja just tested it. And the part for adding the VDC Org Network to the vAPP works.

BUT

Adding it after that to a VM in the vAPP is now suddenly asking for an adapter type.

vcd_vapp_vm_nic

does not have that parameter.

##### playbook part ####

      - name: VMWARE_CLOUDDIRECTOR_CREATE_VM | Create vapp vm secondary nic
        vcd_vapp_vm_nic:
          vm_name: "{{ inventory_hostname

[2020-11-12 23:40] sgutermann commented on #136
Sorry for spamming this thread, but all I am trying to get working again is creating a vApp and a VM inside both connected up to two or more Org VDC Networks.

Worked a few months ago, now broken.

[2020-11-13 07:57] sgutermann commented on #143
@mukultaneja, please see other thread. Adding the VDC Network to the vAPP now works. Getting it attached to the VM inside does not work.

[2020-11-13 19:22] mukultaneja commented on #136
@sgutermann, thanks for pointing out the documentation error. I am going to send an update for it. For the issue with `vcd_vapp_vm_nic`, you have to add `adapter_type`  in your playbook. Please refer to the wiki [here](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM-Nic) and try adding it once.

[2020-11-13 19:25] mukultaneja commented on #143
@sgutermann please close this issue if it is resolved

[2020-11-13 19:26] mukultaneja commented on #140
@387119, are we good on this issue?

[2020-11-13 19:29] mukultaneja commented on #122
@sgutermann are you able to resolve your issue?

[2020-11-15 13:50] sgutermann commented on #143
@mukultaneja closing this issue, getting it totally resolved is still not the case. Please see Issue 136.

[2020-11-15 13:50] #143 closed

[2020-11-15 13:53] sgutermann commented on #136
@mukultaneja added the adapter type. New error still not working. Had to add by hand to a few machines in order to keep going.

The error ist telling me that the VDC Network can not be found and is "nil".

[2020-11-15 15:33] kokkerhout commented on #140
Hi,
I have the same issue as '387119'. Running a playbook the 1st time to create disks and after this modify the role/playbook to run in check_mode. That just doesn't make any sense. I assume you know what "idempotence" means?

I think it's a must to be able to define the 'name' of the disk upon creation in order to prevent that disks are created over and over again everytime the playbook has been

[2020-11-16 10:26] mukultaneja commented on #140
@kokkerhout @387119, I have updated the existing `add_disk` method to incorporate the `name` attribute. Now the method will check first if the given disk name is already present before adding it to the VM. Please update the code base and verify if the issue still persists.

[2020-11-16 10:45] mukultaneja commented on #136
could you please share your playbook and the error traceback?

[2020-11-16 10:48] mukultaneja commented on #137
@here, Please allow me to close this issue and feel free to reopen it in case it comes up in the way.

[2020-11-16 10:48] #137 closed

[2020-11-16 12:59] kokkerhout commented on #140
Yes, this is much better. It works now and the playbook becomes idempotent.
Downside is that when you delete a disk the numbering changes and the playbook should be updated. But I can live with that.

Thank you for your quick response and fix. Just out of curiousity: do you work for VMWare? Are these modules somehow under supervision of VMWare?

Thanks

[2020-11-17 18:32] mukultaneja commented on #140
yes, @kokkerhout, I work for VMware and these modules are under the supervision of VMware. Please allow me to close this issue and feel free to reopen it in case of any failure.

[2020-11-17 18:32] #140 closed

[2020-11-19 15:44] sgutermann commented on #136
@mukultaneja ok. Adding more than one VDC NEtwork to the vApp works (which ich what this issue is about) now. Just tested.

[2020-11-19 15:51] sgutermann opened #146 "ansible-doc -t module vcd_vapp_vm_nic error in documentation"
In the parameter description "vm_name" ist explained. In the example beneath "vm" is being used. The wiki also states to use "vm_name".

[2020-11-20 10:46] sgutermann commented on #122
Yes, after completely deleting the old plugin folders the problem was gone. Sorry.

[2020-11-20 12:52] #146 closed

[2020-11-20 12:53] mukultaneja commented on #146
thanks, @sgutermann for pointing out the mistake and helping these modules better 👍

[2020-11-20 12:55] mukultaneja commented on #144
@rbuffi, these ansible modules are backed out by `pyvcloud` library and that does not support NSX-T as of now.

[2020-11-20 12:56] #136 closed

[2020-11-20 12:58] #122 closed

[2020-11-23 20:29] kokkerhout opened #147 "vcd_gateway_services"
Hi,

I am missing the possibility to fully configure the Edge Gateway. The only thing I can configure is 'Firewall'
I'm also looking for the option to configure everyhting else. Like NAT, Routing, VPN, Certificates and so on.

Is this included in the modules? Or is it on a roadmap?

Thanks

[2020-11-24 14:49] pilot513 opened #148 "Ability to create a copy of a virtual machine"
In the file "pyvcloud / vcd / vm.py" in the "copy_to" method of the "VM" class, the ability to copy a virtual machine to another Vapp is implemented. This is done by calling the private method "_clone". In this method, the copying process is started only if the machine is "off" state, or when the original machine after copying must be deleted. Below is the code for this method.

[code]

In this li

[2020-11-24 14:57] pilot513 commented on #148
Moved there:  https://github.com/vmware/pyvcloud/issues/725

[2020-11-24 20:10] kokkerhout opened #149 "MANUAL IP on nic is not working"
Hi,
It seems like settings a MANUAL ip address on a nic is not possible. DHCP and POOL are working as expected.
I have this:

    - name: create vapp vm nic
      vcd_vapp_vm_nic:
        org: "{{ cdirector_org }}"
        host: "{{ cdirector_host }}"
        user: "{{ cdirector_user }}"
        password: "{{ cdirector_password }}"
        api_version: "{{ cdirector_api_version }}"
        vm_name

[2020-11-25 20:26] mukultaneja commented on #145
@surfer190, a [new ](https://github.com/vmware/pyvcloud/pull/727)pull request to Pyvcloud is on the way. Stay tuned!

[2020-11-25 20:28] mukultaneja commented on #147
@kokkerhout, thanks for using the new module. The work is going on for all the other configurations. Stay tuned!

[2020-11-25 20:28] surfer190 commented on #145
Excellent, thanks @mukultaneja

[2020-11-25 20:29] mukultaneja commented on #145
Just to keep track, please allow me to reopen the issue for a few days.

[2020-11-25 20:30] kokkerhout commented on #147
Very cool. I appreciate. Can you give a expected time of arrival? Globally of course. Thanks a lot

[2020-11-30 16:20] ntelisil opened #150 "Enhancement: Edge Gateway Services create/update/delete at once"
It would be great if the _vcd_gateway_services_ module could support a **list** of rules to be created, updated or deleted instead of only a single one.
A _delete_all_ 'state' would also be very useful.

With respect to IaaC, nowdays the rules (e.g. firewall, NAT, ...) are saved in scm in a suitable format like yaml.
The idea is to pass the set of rules as a whole to the module instead of one rule

[2020-12-01 20:06] #145 closed

[2020-12-01 20:09] mukultaneja opened #151 "Add methods to create/update/delete org vdc storage profiles"
This issue recommends implementing various operations to create/update/delete org VDC storage policies

[2020-12-01 20:10] #144 closed

[2020-12-04 08:52] 387119 opened #152 "force_recustomization not in wiki"
there is no parameter for force recustomization in wiki https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM
meantime there is parameter in python file itself
[~/ansible-module-vcloud-director/modules]$ sed -n 152,157p vcd_vapp_vm.py                                                     ✔[master]
    force_customization:
        description:
            - whether or not to force

[2020-12-04 09:11] 387119 opened #153 "Customization script is not working"
### expected behavior
when we try to add custom script manually then it looks like
![image](https://user-images.githubusercontent.com/44392341/101143543-b5634500-361f-11eb-979b-ebe4aeeab03f.png)
]

mean, script name vcloud put in "script file" field, and file content will be in "script" field, it looks correct and working.

### actual behavior
when I try to do it using ansible, it`s working not as

[2020-12-05 20:14] #151 closed

[2020-12-05 20:18] mukultaneja opened #154 "Remove the docs directory from the project"
The `docs` directory was added to the project to explain the usage of the modules. But now, we want to give more focus to the module's wiki and started to mention all the details there already. So I think it is better to remove the `docs` directory and let the users follow the wiki page for modules usage.

[2020-12-05 20:21] mukultaneja opened #155 "move list_vdcs operation from `vcd_org_vdc` to `vcd_org` module"
Currently, the `list_vcds` operation is part of the `vcd_org_vdc` module but it would be a good fit for the `vcd_org` module as VDCs are associated with the ORG.

[2020-12-05 20:30] mukultaneja commented on #152
@387119 nice catch, thanks for reporting! I just updated the [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM#deploy-vapp-vm) page with the parameter. `force_customization` primarily goes with the `deploy_vm` operation.

[2020-12-05 20:30] #152 closed

[2020-12-05 21:12] mukultaneja commented on #153
I looked into this issue and it is reproducible. I checked the code and figured out it is not due to the ansible module but the `pyvcloud` itself.

[2020-12-07 19:46] #155 closed

[2020-12-07 19:53] #154 closed

[2020-12-07 19:56] mukultaneja opened #156 "Delete Org task failed says "You must disable the organization before deleting it""
When we try to delete a VCD Org, we get the following exception from the module,

You must disable the organization before deleting it.\" minorErrorCode=\"INVALID_STATE\">\\n    <TenantError majorErrorCode=\"409\" message=\"[ d3e66d6b-ee3b-4f84-b126-f964d5510dde ] You must disable the organization before deleting it.\" minorErrorCode=\"INVALID_STATE\"/>\\n  </Error>\\n  <User href=\"https://10.78.

[2020-12-07 20:09] #156 closed

[2020-12-09 20:59] mukultaneja commented on #150
@ntelisil, thanks for elaborating on the issue nicely. I am on it, things are in progress. Stay tuned!

[2020-12-14 11:27] ntelisil opened #157 "Failed to upate firewall rules with multiple source or dest ips"
I would expect that if you provide a list of IPs in source_values (or destination_values) the FW rules should be updated accordingly. Unfortunately they are not, although the module prints a success message ("changed": true)

[code]
The problem is in https://github.com/vmware/ansible-module-vcloud-director/blob/c274254639e297bab437861716c6446cf19e32e8/modules/vcd_gateway_services.py#L310

Instead

[2020-12-14 11:48] ntelisil opened #158 "Actuall Firewall rules are not created with state 'present'"
The vcd_gateway_services module ignores the source_values, destination_values and services when invoked with state 'present'.
It creates a firewall rule but with "any" in all fields except Name, Type and Action.
See https://github.com/vmware/ansible-module-vcloud-director/blob/c274254639e297bab437861716c6446cf19e32e8/modules/vcd_gateway_services.py#L241

In order to set the correct values you will

[2020-12-14 21:48] mukultaneja commented on #157
@ntelisil, please try with the below `service_params` once and see if it works for you.
[code]

Although currently, the module does not support to add multiple IP-Ranges as a source or destination  but it can very well add a single IP-Range to a firewall rule.

[2020-12-14 21:56] mukultaneja commented on #158
@ntelisil as per the current flow, one should create a firewall rule first with the default `Any`, and then it should try to update the source and destination values of the firewall rule.

[2020-12-15 17:27] ntelisil commented on #158
@mukultaneja exactly. I figured it out by inspecting the code.
Apart from being counter-intuitive the problem is that you need to make two calls for a single rule.
It now takes ~30 minutes(!) to setup a list of 45 fw rules.
With a single call per rule I would expect the time to drop to ~15 minutes.
With a single (or a couple) request as described in https://github.com/vmware/ansible-module-vcloud-

[2020-12-15 17:34] ntelisil commented on #157
@mukultaneja Unfortunately in my case most of the ips are not sequential. But good to know that ranges are supported.

[2020-12-17 20:10] mukultaneja commented on #158
@ntelisil, I have sent out a patch to the module to address your issue. Please try once the module with the below ansible play format and let me know if it looks good now.

[code]

[2020-12-17 20:11] mukultaneja commented on #147
@kokkerhout, I have added a patch to create/update/delete a list of firewall rules through a single ansible play. Please try it once.

[2020-12-21 13:15] martbhell opened #159 "Affinity Rules"
Hello!

Would it be possible to get support for managing affinity rules?

[2020-12-21 15:44] martbhell commented on #159
Is https://code.vmware.com/docs/12676/vmware-cloud-director-api-programming-guide/GUID-76B6FD76-C036-4FEC-9B39-D9C79B8F5A92.html the right docs about the API to make these requests?

[2020-12-22 05:22] Akasurde opened #160 "Support VMware Cloud Director for vmware_vm_inventory"
_From @patsevanton on Dec 21, 2020 05:54_

##### SUMMARY

Support VMware Cloud Director for vmware_vm_inventory

##### ISSUE TYPE
- Feature Idea

Hello!
Thanks for community.vmware.

ansible --version
[code]

Vmware
[code]

I try get inventory  for ansible from VMware Cloud Director

[code]

Error:
[code]

_Copied from original issue: ansible/ansible#585_

[2020-12-22 05:23] Akasurde commented on #160
_From @Akasurde on Dec 22, 2020 05:21_

@patsevanton Thanks for the feature idea. vCloud Director is managed by https://github.com/vmware/ansible-module-vcloud-director repo. I think this is the correct location for this feature.

[2020-12-22 05:24] Akasurde commented on #160
Migrated issue.

[2020-12-24 04:49] martbhell commented on #159
Maybe it's in pyvcloud? https://github.com/vmware/pyvcloud/search?q=affinity doesn't look too good :/

[2021-01-12 11:21] kgawda opened #162 "Describe how to install the module"
Is there a way to install the module into local Ansible setup? I tried copying the module directory into `~/.ansible/plugins/modules/`, but it didn't work. Currently I just clone the repository and work within this clone, but that seems good only for module development, not for creating and running actual playbooks.
Please describe the installation method in README.

[2021-01-15 15:48] gabbiano83 opened #163 "create empty vm"
`- name: vCloudDirectorAnsible
  hosts: localhost
  environment:
    env_user: administrator
    env_password: pass
    env_host: https://<url>/
    env_org: org
    env_api_version: 34.0
    env_verify_ssl_certs: false
  tasks:
  - name: create vapp
    vcd_vapp:
      vapp_name: "test_vapp"
      vdc: "vdc1-CRM2017AT0139"
      description: "test_description"
      network: "NET_TEST"
      ip_a

[2021-01-18 19:36] mukultaneja commented on #163
@gabbiano83 as of now, we support the below two ways to create VMS using `vcd_vapp_vm`,
1. Create VMs from vApps
2. Create VMs from Catalogs.

You can use the `vcd_vapp_vm_disk` module to attach new disks to the VM.

[2021-01-18 19:38] mukultaneja commented on #160
@Akasurde, Could you please elaborate more on the inventory for example, what kind of information you are looking for as inventory here?

[2021-01-18 19:42] mukultaneja commented on #162
@kgawda you can mention the modules path in `ansible.cfg` as we already have as part of this repository. In this way, you can write playbooks at a different locations and refer to these modules to be used.

[2021-01-19 00:25] gabbiano83 commented on #163
It's ok, but is it possible to create an empty VM from scratch? could you link or provide an example creating from vApp ?

[2021-01-20 16:14] patsevanton commented on #160
Hello!
I try get name and ip virtual machine from vmware vcloud for use in ansible inventory.

[2021-01-26 06:54] hexpizza commented on #85
Hi @danielc256!
I faced this issue and after a little reading of modules and a few tries I found out that the combination of target_vm_name, hostname and state: "present" works correctly. It looks like that:

- name: create vapp VM from OVF template
  vcd_vapp_vm:
    verify_ssl_certs: False
    source_catalog_name: "<catalogname>"
    source_template_name: "<template_name>"
    source_vm_name: "<

[2021-01-28 14:04] RobVerduijn commented on #129
we now have to jump through hoops to use the roles/modules in our tower environment,
a collection would make this a lot easier.

[2021-01-28 14:26] Akasurde commented on #129
@mukultaneja Please let me know if you want me to open a PR to make required changes.

[2021-01-29 20:12] mukultaneja commented on #129
@Akasurde, Please go ahead.

[2021-02-01 05:53] Akasurde commented on #129
Requested namespace for vmware.vmware_cloud_director - https://github.com/ansible/galaxy/issues/2604

[2021-02-01 05:55] Akasurde commented on #129
@mukultaneja Once namespace is issued, will start refactoring code here.

[2021-02-04 19:42] #158 closed

[2021-02-04 19:43] #157 closed

[2021-02-04 19:44] mukultaneja commented on #162
@kgawda did this solution work for you?

[2021-02-04 19:46] mukultaneja commented on #163
@gabbiano83, I am working on your request but the current VCD API to create a standalone VM is broken. we are fixing it so stay tuned!

[2021-02-05 15:58] Sher-Chowdhury opened #165 "Unable to create firewall rules"
I can't seem to create new firewall rules, here's what my playbook looks like:

[code]

This outputs:

[code]

[2021-02-05 21:44] kgawda commented on #162
@mukultaneja yes, I think it is a good workaround: I did clone the repository to arbitrary catalog, and then reference it in `ansible.cfg` in other directory where I develop a playbook. And this works.

As a goal solution, is it possible to make the module work with instructions from [Ansible docs](https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html)? Like this one:

This doe

[2021-02-05 21:50] mukultaneja commented on #165
@Sher-Chowdhury, it is failing because you can't use `Any` as a value for `gatewayinterface` object type. It must be having a value of network interface present in the system. However, I just added a patch that allows you to create a firewall without a source or destination value [ means with `any` support]. With the latest patch, you can use the below play to create a firewall.
[code]
try it out

[2021-02-05 21:55] mukultaneja commented on #162
I think instead of cloning the repo inside `~/.ansible/plugins/modules/` try to copy all the individual module files there which you want to use.

[2021-02-06 14:18] Sher-Chowdhury commented on #165
That fixed my issue:

![image](https://user-images.githubusercontent.com/11390994/107120544-1d374580-6886-11eb-92aa-701f00a23e99.png)

Many thanks for the quick turnaround!

[2021-02-06 14:19] #165 closed

[2021-02-10 12:31] #162 closed

[2021-02-19 05:20] TheEric7 opened #167 "modules are not working"
_---
- name: vCloudDirectorAnsible
  hosts: localhost
  environment:
    env_user: my_user
    env_password: my_pass'
    env_host: 10.10.9.200
    env_org: system
    env_api_version: 30.0
    env_verify_ssl_certs: false
  tasks:
  - name: create org
    vcd_org:
      org_name: acme_sample
      full_name: acme_sample
      is_enabled: true
      state: present
    register: output

  - name: cr

[2021-02-21 11:05] TheEric7 commented on #167
Anyone? Any Help?

[2021-02-21 18:27] mukultaneja commented on #167
@TheEric7, the logs are saying you are not authorized to perform operations on VCD. Please check the login credentials and share your env details.

[2021-02-21 21:48] TheEric7 commented on #167
@mukultaneja, Thanks for the reply.
I have admin access on the VCD and just double-checked the credentials, they are correct.
The VCD version is 10.1.0.15967236. What else do you need?

[2021-02-22 06:21] mukultaneja commented on #167
Could you please try changing your API version to `34.0` once

[2021-02-22 08:12] TheEric7 commented on #167
It isn't the API version either.
But the good news is that I somehow managed to find the issue and fix it.

Apparently, Ansible was not able to make a connection to the VCD and I believe that's why you thought it might be a permission issue. In fact, it seems that Ansible was not able to get to the VCD at all.

So I found out that our DNS is resolving the VCD to a wrong IP address and once I fixed

[2021-02-22 08:12] #167 closed

[2021-02-22 12:29] #150 closed

[2021-02-22 12:30] #147 closed

[2021-03-02 12:27] mukultaneja commented on #160
Hello @patsevanton, I am sorry for the delayed response. I was looking into the query and would like to check if the existing [functionality](https://github.com/vmware/ansible-module-vcloud-director/blob/master/modules/vcd_vapp.py#L440) would work for you. This functionality already gives us the list of VMs and IPs created inside a vApp.
We also have a sample [play ](https://github.com/vmware/ansi

[2021-03-03 06:11] patsevanton commented on #160
Hello @mukultaneja. I dont use ansible-module-vcloud-director. I use terraform + ansible.
My first issue was https://github.com/ansible-collections/community.vmware/issues/585#event-4138623635

[2021-03-10 15:22] rvvliet78 opened #168 "Support for VCD 10.2"
Hi,
When is support for VCD 10.2 and API version 35.0 expected?
Thanks.

[2021-03-11 18:47] fredrik-jansson-se opened #169 "Deploy VM with custom properties"
I'm trying to automate deployment of a whole slew on Ubuntu VMs.

I have imported the Ubuntu 20.04 server OVA into vcd.

Now I'm trying to deploy VMs using that as a template into a vApp, but I cannot figure out how to pass "Custom Properties", e.g. ssh-keys, password and/or user-data for cloud init.

Clicking in the UI I can create vApp from this template, but I have to many VMs to manually click

[2021-03-12 11:43] zyphermonkey commented on #81
I'm also extremely interested in this and ran into the same roadblock when trying to use Powershell Core on linux not supporting the necessary module(s).

[2021-03-15 04:07] Akasurde commented on #81
@zyphermonkey Thanks. I started some work-related to vSphere Update Manager. But due to a lack of interest from the community, halted soon. If you are interested, please visit - https://github.com/Akasurde/ansible-vmware_update_manager. Let me know. Thanks,

[2021-03-19 21:13] mukultaneja commented on #168
@rvvliet78, I think most of the APIs would be the same, are you getting some issues specifically?

[2021-03-19 21:15] mukultaneja commented on #169
Currently, we support custom scripts while deploying VMs, did you try setting variables with it?

[2021-03-20 20:59] rvvliet78 commented on #168
Well in version 10.2 and api version 35 there is support for nsx-t, to be specific, is nsx-t fully supported in rhe ansible modules?
For example creating firewall rules and objects?

[2021-03-22 01:08] zyphermonkey commented on #81
Due to the limitations of PowerShell core on Linux I'm going to guess that the role you've developed won't work from my RHEL Ansible Tower machine running powercli.

At least that's what I've found. I started working on some PowerShell scripts to interact with VUM and then when attempting to get them to run from Linux they bomb because the modules I need aren't supported in PowerShell core.

[2021-03-22 12:21] rvvliet78 commented on #168
I've tested this today, with the example code in my playbook:
`    - name: list vCD edge gateway firewalls
      vcd_gateway_services:
        vdc: "nl-rvvliet - Production"
        gateway: nl-rvvliet-Edge
        service: firewall
        operation: list`
The output I get is:
`The full traceback is:
  File "/var/folders/rb/gwvc4hhj0sg5zwn2dmrnksbc0000gp/T/ansible_vcd_gateway_services_payload__k9

[2021-03-24 20:01] mukultaneja commented on #168
Oh, I see! Pyvcloud does not have support for NSX-T yet so I am afraid these modules won't also be supportive to NSX-T deployment as well.

[2021-04-07 20:49] CollabSensei opened #170 "vcd_vapp_vm_nic Update on non-primary nic"
The "nic_ids" parameter is ignored on nic updates. Therefore anytime an update is performed it occurs on the first nic.

          - name: Enable NIC
            vcd_vapp_vm_nic:
                    user:  "{{ env_user }}"
                    vapp: csr14b
                    password: "{{ env_password }}"
                    org: vOrg"
                    host: "{{ env_host }}"

[2021-04-08 05:58] TheEric7 opened #171 "vcd_vapp shows AttributeError"
Can't work with vcd_vapp as it throws **_AttributeError: 'NoneType' object has no attribute 'get'_** error.

Here is the full error output:
[code]

And here is the simple playbook to initiate a vapp:
[code]

[2021-04-08 06:16] TheEric7 opened #172 "Cannot create catalog with vcd admin user"
Can't create a catalog with vCloud Director's Admin user which has access to all organizations.
My playbook is:
[code]

And the expected error is **"Status code: 400/BAD_REQUEST, No storage available in the organization. Please allocate resources to your organization.** This is understandable because the catalog should be created on an organization other than system. But when I add the org name it

[2021-04-09 20:34] mukultaneja commented on #172
@TheEric7, that is correct. Your first query regarding not having access, that is the expected behaviour and about the second query, I think we should not be having `org_name` as part of `vcd_vdc_network`. I can not think of any use-case for this argument, do you suggest any use-case here?

[2021-04-09 20:39] mukultaneja commented on #171
Could you please confirm if `test-vdc` is present and accessible? This exception has been thrown up from line
https://github.com/vmware/ansible-module-vcloud-director/blob/master/modules/vcd_vapp.py#L239 and this only possible if it cant find the VDC.

[2021-04-12 06:30] TheEric7 commented on #171
Yes, the VDC is present and accessible.
I can do whatever I want via GUI.

[2021-04-12 06:51] TheEric7 commented on #172
I don't have any use case for the second one as I just wanted to tell you I have even tested that way as well. If you are saying that what I see in the first query is kind of expected, then I have to change my approach.

My understanding was that if you have an account that is VCD Admin, then you have access to all organizations and can change the settings as if you are the local org admin. But wh

[2021-04-15 23:19] TheEric7 commented on #172
I did a bit of reading and I believe my understanding about **"if you have an account that is VCD Admin, then you have access to all organizations and can change the settings"** was not right.
Simply speaking, whatever resource you have on the VDC needs to have an owner, and that local admin user on the VDC will be the owner, thus using a local admin user in the module completely makes sense.
Clos

[2021-04-15 23:19] #172 closed

[2021-04-16 08:01] surfer190 commented on #171
@mukultaneja is correct and I recreated the issue.

Change the `vdc` variable on the `vdc_vapp` task - with the name of your existing vdc (it must not be `test-vdc` unless that is what it is called)

[code]

[2021-04-19 01:01] TheEric7 commented on #171
test-vdc is the actual name of my vdc.

@surfer190 did you recreate the issue by using the system account?

[2021-04-19 04:42] surfer190 commented on #171
No, I was using a tenant account.

[2021-04-20 00:16] TheEric7 commented on #171
I think that's my issue as I am using the system account and not the tenant account.
I'm closing this issue.

[2021-04-20 00:16] #171 closed

[2021-04-22 15:33] hoggy77 opened #173 "vcd_org_vdc - use existing storage profile of *(Any)"
When we manually create an OrgVDC we can select the storage policy of *(Any), but using the ansible script I can't put that in or leave it blank.  I get the following error:  (I've replaced confidential data with the {{name}})

The full traceback is:
  File "/tmp/ansible_vcd_org_vdc_payload_0p3c7hc9/__main__.py", line 611, in main
    response = module.manage_states()
  File "/tmp/ansible_vcd_org_

[2021-04-26 12:23] mukultaneja commented on #173
@hoggy77, Please refer to the Org VDC [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-Org-VDC) once and let me know if you still face issues.

[2021-04-27 14:43] #170 closed

[2021-04-27 14:48] mukultaneja commented on #170
@CollabSensei, Sorry for the delay in response, and thanks for raising an issue. I just updated the module. Please follow the latest [wiki](https://github.com/vmware/ansible-module-vcloud-director/wiki/vCD-vApp-VM-Nic) to add/update/delete multiple NICs of a VM at a time. Try it out the latest patch and feel free to reopen the issue if things don't work for you.

[2021-04-27 17:35] mukultaneja opened #174 "Remove org_name attribute from vcd_vdc_network module"
Description - vcd_vdc_network has org_name as an additional attribute that does not serve any purpose. All the org admins are allowed to create Org VDC Network and we would like to encourage the use of org admin account to perform this operation in order to maintain security.

[2021-04-27 17:39] #174 closed

[2021-04-28 18:44] DanielFarrarCO commented on #170
Getting an error with the new format when doing a nic update.  The state "present" works when creating the nic but not state "update".

    "exception": "Traceback (most recent call last):\n  File \"/tmp/ansible_vcd_vapp_vm_nic_payload_kn2t_i1p/ansible_vcd_vapp_vm_nic_payload.zip/ansible/modules/vcd_vapp_vm_nic.py\", line 307, in main\n  File \"/tmp/ansible_vcd_vapp_vm_nic_payload_kn2t_i1p/ansible

[2021-04-28 18:52] mukultaneja commented on #170
@DanielFarrarCO, I think you are using an older version of pyvcloud. Could you please try with the updated version once?

[2021-04-29 05:46] aashnaam opened #175 "Request for “Register an NSX-T Manager instance” vCD ansible module"
Register an NSX-T Manager Instance -  The provisioned NSX-T Manager cluster will be added as an endpoint to a vCD server. It can be done by the GUI by https://docs.vmware.com/en/VMware-Cloud-Director/10.0/com.vmware.vcloud.spportal.doc/GUID-592938A5-E2BA-4912-B389-C6181D41A38F.html

[2021-04-29 06:01] aashnaam opened #176 "Request for "Add a pVDC capacity" vCD ansible module"
Add pVDC capacity - Site ESXi Cluster(s) will be added as Provider VDC capacity in VMware Cloud Director. If pVDC doesn't exist, it will be created. If pVDC exists, it will be extended. Default ESXi cluster resource pool will be assigned by default. "NSX-T Manager and Geneve Network pool" will be used by default. It can be done by the GUI by https://docs.vmware.com/en/VMware-Cloud-Director/9.7/com

[2021-04-29 14:15] CollabSensei opened #177 "Add vApp Firewall Rule Support"
It does not seem that there is support to manage firewall rules within a vApp. I could be missing something.

[2021-05-04 22:41] TheEric7 opened #178 "Can't use service account to create organization assets."
Seems like it's not possible to use a service (provider) account to create/modify assets in an organization.
Can this be added?

In a real-world scenario, a provider should be able to configure an organization with a service account, like the way it's being done through GUI.

[2021-05-08 13:13] mukultaneja commented on #175
submitted a [PR](https://github.com/vmware/pyvcloud/pull/764) to pyvcloud.

[2021-05-12 02:26] TheEric7 commented on #178
@shyam-m @mukultaneja
The execution time is back to normal by wiping out the whole VDC and recreating it from the scratch.
So all good with the update and it works as expected.

[2021-05-15 20:20] #178 closed

[2021-05-17 14:37] mukultaneja commented on #129
@here, closing this issue as we have merged the required code into the collection branch.

[2021-05-17 14:37] #129 closed

[2021-05-31 20:47] mukultaneja commented on #175
The PR is merged to pyvcloud. Hence closing the issue.

[2021-05-31 20:47] #175 closed

[2021-06-03 12:58] nakasix opened #179 "Add the Flex model in the Allocation Model"
Hello,

At this time, the models 'AllocationVApp', 'AllocationPool' and 'ReservationPool' are supported, but I would like to know if it is possible to add support for the 'Flex' model?

![image](https://user-images.githubusercontent.com/37986982/120648403-e233d000-c47b-11eb-8c9b-ccd962384db1.png)

Currently the error is : `"value of allocation_model must be one of: AllocationVApp, AllocationPool,

[2021-06-03 13:26] nakasix commented on #179
Hello,

After research, just add the allocation in the file "vcd_org_vdc.py".

[code]

Regards,

[2021-06-03 13:26] #179 closed

[2021-06-06 09:48] #168 closed

[2021-06-07 05:41] surfer190 opened #180 "Deleting an org fails with 'dict' object has no attribute 'update_org'"
I get an error: `AttributeError: 'dict' object has no attribute 'update_org'`.

[code]

VCD version: `VMware Cloud Director version: 10.2.1.17444397`

[2021-06-11 01:46] beniyp opened #181 "Could not find imported module support code"
Hi,

I ran into issues with installing and running this as a collection, but the modules work fine if I copy the modules and module_utils into my local ansible/plugin directories:

bash-4.4# ansible-galaxy collection install vmware.vcloud_director
[WARNING]: You are running the development version of Ansible. You should only run Ansible from "devel" if you are modifying the Ansible
engine, or tryi

[2021-06-11 13:23] mukultaneja commented on #181
@beniyp, these modules are not published at the galaxy server, may be that is why you are getting errors while installing them, could you please try installing from git repo once?

[2021-06-11 13:54] #180 closed

[2021-06-11 13:56] mukultaneja commented on #180
@surfer190 I just pushed a patch to resolve this issue. Please take the latest pull and try it out once. Feel free to reopen the issue.

[2021-06-11 14:18] mukultaneja commented on #177
@CollabSensei, are you talking about vApps fencing here?

[2021-06-11 14:21] mukultaneja commented on #173
@hoggy77, I assume your query got resolved. Hence closing the issue but feel to reopen it if you still face issues.

[2021-06-11 14:21] #173 closed

[2021-06-11 16:18] beniyp commented on #181
Hi @mukultaneja

Yep, it was downloaded and installed successfully via requirements.yml file using the git repository.  However, ansible and awx's custom EE with the collections and dependencies installed, cannot find the imported module support code when I use the module in the playbook referencing the module as namespace.collection.module

ex.

---
- name: test
  hosts: localhost
  tasks:
    -

[2021-06-14 13:31] fiskhest opened #182 "Collection branch broken"
Thanks to the excellent work by akasurde in #164 It was previously possible to install the collection branch using `ansible-galaxy collection install git+https://github.com/vmware/ansible-module-vcloud-director.git,collection` or a crafted `requirements.yaml`. I am now unable to do so and when I look at the branch commit log his PR isn't present.

Output from the two installation methods:
[code]

[2021-06-17 15:37] rkadirbaks opened #183 "Deny or disable existing firewall rule not working"
Hi,

Updating an existing firewall rule in disable/deny the rule, doesn't work.
The firewall rule remains enabled/allowed.

This is how the service_params section in my playbook looks like;

[code]

Ansible output says it made the changes, but the fw rule remains enabled/allowed in vcloud director.
{
  "msg": {
    "changed": true,
    "msg": "Firewall rule(s) ['test_1'] have been updated",
    "f

[2021-06-24 02:34] TheEric7 opened #184 "vcd_vapp_vm_nic uses network name instead of vAPP name and throws an error"
I'm trying to use vcd_vapp_vm_nic to update a NIC setting but the module says can't find the vapp and uses network_name instead.

So here is my playbook:

[code]
and here is the error I get:

[code]

So the module is pointing to the network_name as the vapp name and says it's not found.
Note that both network and the vapp exist and there is not issues with them. Not sure why the module refers to t

[2021-07-04 20:14] phibid opened #185 "Add a media in a VM ?"
I have perhaps missed it in the documentation, but how to insert a media (CD) in a VM ?

Thanks !

[2021-07-05 07:05] surfer190 commented on #180
Thanks @mukultaneja I can confirm it is working now

[2021-07-05 14:52] khramov86 opened #186 "Firewall rules not working with new NSX-T EDGE"
Hi, there is a problem with `vcd_gateway_services` module and new NSX-t edge when trying to list rules
[code]
Trace:
[code]
Can you help me please with this?

[2021-07-15 20:00] mukultaneja commented on #186
@khramov86, I am afraid NSX-T is not supported by the modules yet.

[2021-07-15 20:22] mukultaneja commented on #184
@TheEric7, thanks for raising an issue. This error message is very confusing and coming directly from pyvcloud. I just submitted a [PR](https://github.com/vmware/pyvcloud/pull/771) there to resolve it. I will update here once this PR gets merged.

[2021-07-15 20:32] mukultaneja commented on #182
@fiskhest sorry for the incovinience. Let me fix this asap

[2021-07-23 20:04] mukultaneja commented on #182
@fiskhest, I have pushed a commit to fix the issue. Could you please confirm if it is working as expected?

[2021-07-23 20:59] fiskhest commented on #182
[code]

LGTM!

[2021-07-23 20:59] #182 closed, assigned to nobody

[2021-07-31 15:32] mertyakan commented on #135
Hello, I noticed something. If you add network to vapps, it doesn't give an error when installing a new virtual machine,

The network card you add must be predefined in Vapps, where the virtual machine you created will be included.  @dancamarg0

[2021-07-31 16:11] dancamarg0 commented on #135
Hi @mertyakan, this will work when you have only 1 NIC, but if you need to add more than one it will give you the same error (As far as I can remember, the last time I tested it was a few months ago)

I also found out at the time the error was occurring due to the template's NIC, if you remove it and let your template without any NIC it will not spill that error.

[2021-08-03 14:43] jbcreek opened #187 "vcd_vapp_vm power on operation fails"
When using the poweron operation of vcd_vapp_vm I receive an error.

- name: Power on VM
      vcd_vapp_vm:
        org: "{{ org_name }}"
        target_vapp: "{{ vapp_name }}"
        target_vdc: "{{ vdc_name }}"
        target_vm_name: "{{ inventory_hostname }}"
        operation: "poweron"
      delegate_to: localhost

- ansible 2.10.11
- VMware Cloud Director version: 10.2.1.17444397 Mon Jan 1

[2021-08-03 18:19] jbcreek commented on #187
This happens after creating the vm with vcd_vapp_vm and setting power_on to false.  The VM ends up in a powered on and powered off state.
![VM-poweredon-and-off](https://user-images.githubusercontent.com/15876203/128065920-1a9f4c87-acfb-438c-9e12-e8bf0f21932a.jpg)

If I set the power_on setting to true, then the poweroff and poweron operations work fine.

[2021-08-04 09:55] ekoudijs opened #188 "Is there a way to disable the vcd_pysdk.log file?"
In the repo i work in, i got a file vcd_pysdk.log with this kind of logging lines:
--
21-03-11 15:07:33 | client:947 - set_credentials | DEBUG :: API version in use: 32.0
21-03-11 15:26:30 | client:947 - set_credentials | DEBUG :: API version in use: 32.0
21-03-12 10:44:00 | client:947 - set_credentials | DEBUG :: API version in use: 32.0
21-03-12 15:40:36 | client:947 - set_credentials | DEBUG ::

[2021-08-04 13:46] exp-hc opened #189 "Unable to input CPU reservation of 0 on OrgVDC"
Since the code for CPU reservations is `input or 1.0`, the input can never be 0 for OrgVDC CPU reservations.

[2021-08-17 19:16] mukultaneja commented on #184
@TheEric7, the PR has been merged. Please take the latest code and try it. Feel free to reopen the issue if you still face the same one.

[2021-08-17 19:16] #184 closed, assigned to nobody

[2021-08-19 06:30] Andre-Atkinson opened #192 "Unable to download collection"
Collection download fails using the below command:
ansible-galaxy collection install vmware.vcloud_director

[2021-08-23 19:43] mukultaneja commented on #192
@anjo-Lagrimas, these collections are not listed on the ansible cloud yet. Please try to install as a GitHub repository using below command,
`ansible-galaxy collection install git+https://github.com/vmware/ansible-module-vcloud-director.git,collection`

[2021-08-23 19:43] #186 closed, assigned to nobody

[2021-08-23 19:45] mukultaneja commented on #181
@beniyp, does your issue still persist?

[2021-08-23 20:13] beniyp commented on #181
Hi @mukultaneja

The issue persists; however, I find the root cause and worked around it.

The problem is that the modules are not using the collection naming convention.  For example, vcd_vapp_vm_snapshot.py with line "from ansible.module_utils.vcd import VcdAnsibleModule" should be replaced with "ansible_collections.vmware.vcloud_director.plugins.module_utils.vcd import VcdAnsibleModule"

Then I

[2021-08-24 14:01] ebilly-ops opened #193 "Can't taking a Vapp Snapshot"
I'm trying to take a snapshot of my Vapp but in the ansible task, we need to specify vm(s) name(s) and thus, it will take a snapshot per vm instead of taking a snapshot of the whole Vapp.

[code]

[code]

Anyone have a solution to take a real Vapp Snapshot ?

[2021-08-31 08:22] surfer190 opened #194 "Edge Gateway Creation on NSX-T fails: exit_json() argument after ** must be a mapping"
TypeError: exit_json() argument after ** must be a mapping, not NoneType

The code is with as minimal as I could get it:

[code]

The error:

[code]

[2021-09-07 16:47] nishikanth commented on #140
@mukultaneja Can you confirm if all vmware modules are designd to support check_mode. Thanks

[2021-09-07 20:18] mukultaneja commented on #140
@nishikanth yes they support check_mode.

[2021-09-08 13:52] nishikanth commented on #140
Great.
Thank you for your response @mukultaneja

[2021-09-08 14:36] nishikanth opened #195 "vmware_host_lockdown doesn't support check_mode in Ansible"
Below is the playbook we are using with check mode but logs shows that check_mode is not supported

---
- name: check mode validation
  hosts: localhost
  connection: local
  tasks:
    - include_vars: vcent_cred.yml
    - name: Enter host system into lockdown mode
      vmware_host_lockdown:
        hostname: '{{ vcenter_hostname }}'
        username: '{{ vcenter_username }}'
        password: '{

[2021-09-08 14:38] nishikanth commented on #140
@mukultaneja I have raised an issue on check_mode incompatibility when using **vmware_host_lockdown** module.
https://github.com/vmware/ansible-module-vcloud-director/issues/195

We are getting error that check_mode is not supported

[2021-09-10 21:06] jeffstu opened #196 "Edge IP"
I've created an edge gateway and it's auto assigned an IP but want to find the ip that has been assigned. Can't see a way of getting that info. Is this possible currently? / can it be added as a feature?

[2021-10-07 10:10] user578 commented on #181
Any idea how can we fix it in the repository (without local patching)?
requirements.yml is the preferred way to install modules.

[2021-10-19 12:45] davbeny opened #197 "Can't connect to vcd"
Hello,

I want to get informations for a specific VM in a organisation.

I'm not able to connect to VCD using ansible-playbook 2.10.15 & ansible-module-vcloud-directory  and VCD 10.3.1 using the following play :

---
- hosts: localhost
  gather_facts: false
  connection : local
  tasks:
  - name: get metadata for vm
    vcd_vapp:
     user: "david"
     password: "************"
     accept_all_eul

[2021-11-01 17:30] rominiti opened #198 "Can't create/add IP pool when create the Edge"
I'm trying to create the edge gateway and add the IP pool range, but it isn't working.

        ext_net_subnet_allocated_ip_pool=dict(type='dict', required=False),
        sub_allocate_ip_pools=dict(type='bool', required=False, default=False),
        ext_net_to_subnet_with_ip_range=dict(type='dict', required=False),
Doesn't matter what combination I use its wont return any error and don't update/

[2021-11-22 13:55] jeffstu commented on #194
I'm seeing the same error too, Did you get anywhere with it?

[2021-11-22 14:03] surfer190 commented on #194
Yes, these modules do not support NSX-T. I am now using the NSX-T api directly with the ansible `uri` module - and some templating/manipulation.

[2021-11-22 14:03] #194 closed, assigned to nobody

[2021-11-26 13:51] magnusolsson80 opened #199 "How to set os type"
Can you set "os type" during installation with "vcd_app" or the "vcd_app_vm"?

[2021-11-29 06:46] genesis42 opened #200 "Move VM to anothe vApp"
How can I move VM to another vApp like in vcloud director?

[2021-12-11 15:23] TOK82 opened #201 "vcd_vapp authentication with provider user"
I want to use **my_provider_user** to cerate vApps in customer organizations but I always get the Error " "msg": "Login failed for user _**my_provider_user**_ to org **_my_org_name_**"

I use the vcd_vapp module and the following parameters for the authentication:
- user
- password
- org
- org_name

The login to the Rest API is successful with **my_provider_user@system**. Is there a special Syntha

[2021-12-22 11:21] hdunavskis opened #202 "Reset MAC address"
Hi,

When instantiating a vapp from a template, the MAC address for NIC is not reset.
- name: instantiate vapp
  vcd_vapp:
    vapp_name: test_vapp_3
    template_name: "{{template_name}}"
    catalog_name: "{{cat_name}}"
    vdc: "{{vdc_name}}"
    power_on: true
    storage_profile: Standard
    state: present
  register: output

If Im creating multiple vapps from the same template then Im getti

[2022-01-17 11:06] kgawda opened #204 "Missing code from PR #161"
### Describe the bug

Branch `master` is missing code changes from Pull Request #161.
When you see the PR details, it says it was accepted and merged by @mukultaneja into master. But this merge is not visible on commits list, and in code files.

This PR is adding two useful lines in `module_utils/gateway_nat_rule_service.py`.

### Reproduction steps

[code]

### Expected behavior

Following lines

[2022-01-30 23:15] jeffstu commented on #194
Anything you can share for the solution you came up with?

[2022-02-07 18:36] whoamiUNIX opened #205 "Is this project dead ?"
### Describe the bug

I see in ansible documentation few stuff which will be deprecated. I also do not see frequent commit here and releases.

just want to know before I start using roles and modules which will be not updated.

### Reproduction steps

[code]

### Expected behavior

.

### Additional context

_No response_

[2022-02-07 19:16] mukultaneja commented on #205
@whoamiUNIX, No it is not dead. Please use this project and raise issues if you have any.

[2022-02-07 19:28] whoamiUNIX commented on #163
Is there any update?

[2022-02-07 19:35] whoamiUNIX commented on #205
I see that community requesting some features. There are some older than 1year. To me it does not looks as active development.
For example create standolone VM. There at least 2 issues releated to this and nothing was implemented…

[2022-02-07 19:44] whoamiUNIX commented on #185
Any update?

[2022-02-07 19:45] whoamiUNIX commented on #124
Will be this implemented?

[2022-02-09 18:03] bfanjoy commented on #85
I'm having the same issue with not taking the target_vm_name - I've tried noted fixes but still not working. Any other things to try?

[2022-02-10 10:29] hexpizza commented on #85
@bfanjoy I use this list of arguments in the task and it works perfectly:
[code]
Sorry for variable names instead of values.
"target_vm_name" is required argument for the module, look at its source code https://github.com/vmware/ansible-module-vcloud-director/blob/master/modules/vcd_vapp_vm.py strings 55-58.

[2022-02-10 20:25] #204 closed, assigned to nobody

[2022-02-10 20:27] mukultaneja commented on #204
@kgawda I apologize for the inconvenience caused by the missing commit.  I have added the change through a new PR, hope it will resolve the issue.

[2022-02-10 20:31] mukultaneja commented on #199
@magnusolsson80, we cant set "os_type" while creating a new vApp and in case of adding new VMS, I guess it will take internally from the given template or vApp.

[2022-02-10 20:54] mukultaneja commented on #197
@davbeny, as per the error message, somehow your VDC is not part of the given org. While trying to fetch the VDC information from org, it is returning `None`.

[2022-02-10 21:01] mukultaneja commented on #188
@ekoudijs, ansible modules do not generate `vcd_pysdk.log` but pyvcloud does. As of now, there is no provision to say no to log files in pyvcloud.

[2022-02-10 21:01] #189 closed, assigned to nobody

[2022-02-10 21:09] mukultaneja commented on #187
@jbcreek, I apologize for the very late response here. I tried to address this issue in the commit https://github.com/vmware/ansible-module-vcloud-director/commit/1f26057d79fe1396405e771e7c5d282c565a9fba. Could you please try this fix once?

[2022-02-14 09:27] #201 closed, assigned to nobody

[2022-02-14 09:30] TOK82 commented on #201
I used the wrong syntax.

[2022-02-17 21:49] theovich opened #207 "Python venv - ImportError: No module named pyvcloud.vcd.org"
### Describe the bug

Hello,
I would like to run a module in python venv, but
for simple playbook I get this traceback even if pyvcloud is installed.
What can I do to make it work?

Thank you for your help.

[code]

### Reproduction steps

[code]

### Expected behavior

List catalog

### Additional context

_No response_

[2022-02-22 10:04] surfer190 opened #208 "Creating an Org Admin raises a pyvcloud error"
### Describe the bug

 When using `vcd_user` to create a user on `api_version` 34.0 a error is raised:

`pyvcloud.vcd.exceptions.InternalServerException: Status code: 500/INTERNAL_SERVER_ERROR, [ 221bc474-62a0-4d5a-92f7-4861c7788cce ] UUID string too large (request id: 221bc474-62a0-4d5a-92f7-4861c7788cce)`

When using `api_version` 36.0 this is the error:

[code]

### Reproduction steps

[code]

[2022-02-22 15:25] jeffstu opened #209 "set lease times"
### Is your feature request related to a problem? Please describe.

As the lease times are not specified it creates vapps etc with a default runtime lease time of 7 days.

This looks to have been implemented in the terraform modules github.com/vmware/terraform-provider-vcd/blob/main/vcd/resource_vcd_org.go ( starting line 76 )

### Describe the solution you'd like

the ability to set lease times s

[2022-02-23 20:47] mukultaneja commented on #205
I am sorry for the delay. I got tied up in some other projects but now I am trying to put my focus back on this project as well.

[2022-02-23 20:47] #205 closed, assigned to nobody

[2022-02-23 20:51] mukultaneja commented on #207
@theovich I could see two issues here,
1. You have installed pyvcloud for python 3.6 but somehow it is looking for python 2.7.
2. Did you have ansible.cfg in the same folder which is part of this project? This config tells actually where to look for modules and their utilities.

[2022-02-25 10:41] surfer190 commented on #208
I did not include the pyvcloud version I was using:

It was `21.1.0` and after moving to `pyvcloud==23.0.3` it was no longer an issue.

[2022-02-25 10:41] #208 closed, assigned to nobody

[2022-03-14 17:03] GuybrushThreepwood-Dev opened #210 "Unable to create Org user"
### Describe the bug

{
  "module_stdout": "",
  "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_vcd_user_payload_5ex_m9me/ansible_vcd_user_payload.zip/ansible/modules/vcd_user.py\", line 301, in main\n  File \"/tmp/ansible_vcd_user_payload_5ex_m9me/ansible_vcd_user_payload.zip/ansible/modules/vcd_user.py\", line 202, in manage_states\n  File \"/tmp/ansible_vcd_user_pay

[2022-06-10 15:46] optica-phoffmann commented on #192
@mukultaneja Great that a branch in collection format exists. Are there any plans to apply collection schema to master branch as collection is the way to go in terms of ansible integration?

Is there any plan to introduce versioning for collection branch or how to keep collection branch in sync with updates from master branch?

[2022-06-23 09:28] RobVerduijn opened #214 "no longer works with ansible-core 2.13"
### Describe the bug

in the past we used the collection a lot with ansible2.9 and tower
now that we migrated to ansible automation platform we also moved to ansible core 2.13

when using the collection with ansible core 2.13 it throws the following error
[code]
ansible [core 2.13.0]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/rob/.ansible/plugins/modules', '

[2022-06-23 09:34] RobVerduijn commented on #214
oh...
just found this
Fixing module_utils import for collections #212
Guess that fixes it

[2022-06-23 10:03] RobVerduijn commented on #214
tried the pull request and it works for our environment

[2022-06-25 11:35] phibid opened #215 "Can't create a new VM"
### Describe the bug

Not sure if this is a bug or if I am doing something wrong, but I am just unable to create a new VM from templace with the `vcd_vapp_vm`. I have checked the other issues, tried several combinations, but no way.

The complete stack trace:

[code]

The Ansible task executed:

[code]

The API version is 34.0.

### Reproduction steps

[code]

### Expected behavior

A new VM from

[2022-06-27 18:33] phibid commented on #215
Please disregard this issue. This is working, some privileges were missing.

[2022-06-27 18:33] #215 closed, assigned to nobody

[2022-07-22 07:41] ekoudijs commented on #188
I added the file to my .gitignore

[2022-07-22 07:42] #188 closed, assigned to nobody

[2022-08-18 09:16] goagex commented on #193
I would also like this feature to be implemented.
I guess we need a new module for this, like vcd_vapp_snapshot

Kind regards / Jonas

[2022-09-21 11:30] Im0 commented on #149
Same issue.  Looking at other options now, but, would much rather use this.  Given this issue is almost 2 years old should we assume it will never get fixed?

How does anyone set a manual IP address using VCD and ansible?

[2022-09-29 12:04] pradyunvalluri opened #219 "Change/Update default VM storage profile for the disks created with VM"
### Is your feature request related to a problem? Please describe.

Hi

I created a VM with multiple disks, the disks are created with VM default storage policy.**(Ansible Module used:vcd_vapp_vm_disk)**
However, I want to update/change the disk storage policy from default. ( I was able to update size of the disks, but not the storage profile)
.

### Describe the solution you'd like

I want to kno

[2022-11-18 15:42] pille opened #220 "vCD-vApp-VM get-metadata only returns one entry"
### Describe the bug

the task
[code]
will only return one metadata entry, even if there are more.
it fails, when none is available.
documentation is also buggy, as it states one should use  `vcd_vapp`-module.

### Reproduction steps

see above

### Expected behavior

return all entries and don't fail when none is available.
also c'n'p failure in docs should be fixed.

### Additional context

_No

[2022-11-30 11:02] opipenbe commented on #169
This feature seems to be removed with https://github.com/vmware/ansible-module-vcloud-director/commit/2d689c3337b6f06549704e36cf5f22333638f3c4